openapi: 3.2.0
info:
  title: Roxy Numerology API
  version: 2.0.0
  description: '# RoxyAPI: the Spiritual OS layer for agentic AI


    > **Base URL:** `https://roxyapi.com/api/v2`.'
  x-error-codes:
  - code: validation_error
    status: 400
    meaning: A field is missing or invalid. The body lists every failing field at once in issues, each with its path and the expected shape.
  - code: bad_request
    status: 400
    meaning: The request was rejected as a whole, for example a body that is not valid JSON or a date range that ends before it starts.
  - code: date_out_of_range
    status: 400
    meaning: A date lies outside the span the planetary positions are served for. The error names the supported dates.
  - code: api_key_required
    status: 401
    meaning: No API key was sent.
  - code: invalid_api_key
    status: 401
    meaning: The key sent is malformed or cannot be verified.
  - code: api_key_revoked
    status: 401
    meaning: The key was valid once and has since been revoked from the account page.
  - code: subscription_not_found
    status: 401
    meaning: The key verifies, but the subscription behind it no longer exists.
  - code: subscription_inactive
    status: 401
    meaning: The subscription behind the key is cancelled, expired or suspended, or a trial is past its end date.
  - code: publishable_key_not_allowed_on_mcp
    status: 401
    meaning: A publishable key was used on a Remote MCP server, which takes a secret key.
  - code: invalid_client_ip
    status: 401
    meaning: A keyless request could not be attributed to a caller.
  - code: unauthorized
    status: 401
    meaning: Authentication failed with no more specific reason to give.
  - code: forbidden
    status: 403
    meaning: The key is valid, but this request is not permitted.
  - code: origin_required
    status: 403
    meaning: A publishable key with an origin allowlist was used with no Origin header, as from a server or a native app.
  - code: origin_not_allowed
    status: 403
    meaning: The calling site is not on the origin allowlist of this publishable key.
  - code: not_found
    status: 404
    meaning: Nothing is served at this path, or the identifier in it does not exist. A path miss adds suggestions, the closest real endpoints.
  - code: method_not_allowed
    status: 405
    meaning: The path exists for a different HTTP method. The body lists the accepted methods in allow, as does the Allow header.
  - code: conflict
    status: 409
    meaning: The request cannot be applied in the current state.
  - code: gone
    status: 410
    meaning: The path was removed permanently.
  - code: payload_too_large
    status: 413
    meaning: The request body is larger than the API accepts.
  - code: unsupported_media_type
    status: 415
    meaning: 'A request with a body was sent without Content-Type: application/json.'
  - code: unprocessable_entity
    status: 422
    meaning: Every field is valid, but the combination cannot be computed.
  - code: rate_limit_exceeded
    status: 429
    meaning: The monthly request allowance is used up. Retry-After gives the seconds to the reset.
  - code: rate_limit_per_minute
    status: 429
    meaning: The per-minute limit of the plan was reached. Retry-After gives the seconds to the next minute, and the monthly allowance is not charged.
  - code: rate_limited
    status: 429
    meaning: A rate limit was reached, reported without the plan detail.
  - code: free_tier_exhausted
    status: 429
    meaning: A keyless request has used up its trial allowance.
  - code: internal_error
    status: 500
    meaning: The request failed inside our service. Retry with exponential backoff.
  - code: compute_saturated
    status: 503
    meaning: Heavy calculations are briefly at capacity. Send the same request again after Retry-After seconds.
  - code: error
    status: null
    meaning: A fallback for a status with no more specific code. The status and the error field carry the signal.
  contact:
    name: RoxyAPI Support
    url: https://roxyapi.com/contact
  license:
    name: Proprietary
    url: https://roxyapi.com/policy/terms
servers:
- url: https://roxyapi.com/api/v2
  description: Production API v2
security:
- apiKey: []
tags:
- name: Numerology
  description: Numerology API for life path numbers, complete numerology charts and compatibility, in both Pythagorean and Chaldean numerology.
paths:
  /numerology/life-path:
    post:
      operationId: calculateLifePath
      tags:
      - Numerology
      summary: Calculate Life Path number - Calculator and meaning API
      description: Calculate a Life Path number from a birth date with Pythagorean numerology. The Life Path is the core number of a numerology chart, read from the birth year, month and day alone, with master numbers 11, 22 and 33 kept and a karmic debt of 13, 14, 16 or 19 flagged with its meaning. The response returns every reduction step and a full interpretation (archetype title, keywords, description, strengths, challenges, career, relationships and spirituality) in the language set by lang. Built for Life Path calculators, numerology apps, onboarding personality profiles and AI agents.
      security:
      - apiKey: []
      parameters:
      - schema:
          type: string
          enum:
          - en
          - tr
          - de
          - es
          - hi
          - pt
          - fr
          - ru
          - zh-Hans
          - zh-Hant
          default: en
          example: en
          description: 'Response language (BCP 47). Supported: en, tr, de, es, hi, pt, fr, ru, zh-Hans, zh-Hant. Defaults to en. Coverage varies by domain, and a field with no translation in the requested language returns English.'
        required: false
        description: 'Response language (BCP 47). Supported: en, tr, de, es, hi, pt, fr, ru, zh-Hans, zh-Hant. Defaults to en. Coverage varies by domain, and a field with no translation in the requested language returns English.'
        name: lang
        in: query
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                year:
                  type: integer
                  minimum: 100
                  maximum: 2100
                  example: 1990
                  description: Birth year between 100 and 2100. Supports historical figures like Einstein (1879) and Shakespeare (1564).
                month:
                  type: integer
                  minimum: 1
                  maximum: 12
                  example: 7
                  description: Birth month (1-12)
                day:
                  type: integer
                  minimum: 1
                  maximum: 31
                  example: 15
                  description: Birth day (1-31)
              required:
              - year
              - month
              - day
      responses:
        '200':
          description: Successfully calculated Life Path number with detailed interpretation
          content:
            application/json:
              schema:
                type: object
                properties:
                  number:
                    type: number
                    example: 5
                    description: Your Life Path number, the single most important number in Pythagorean numerology. Values range from 1 to 9 for single digits, or 11, 22, 33 for Master Numbers.
                  calculation:
                    type: string
                    example: 'Month: 7, Day: 15 → 1+5 = 6, Year: 1990 → 1+9+9+0 = 19 → 1+9 = 10 → 1+0 = 1 → 7+6+1=14 → 5'
                    description: 'Every step of the calculation: the birth month, day and year each reduced, then combined into the final Life Path number.'
                  type:
                    type: string
                    enum:
                    - single
                    - master
                    example: single
                    description: Whether this is a standard single-digit number (1 to 9) or a Master Number (11, 22, 33). Master Numbers carry amplified spiritual significance and are never reduced further.
                  hasKarmicDebt:
                    type: boolean
                    example: true
                    description: Indicates whether a Karmic Debt number (13, 14, 16, or 19) appeared during the reduction chain. Karmic Debt reveals past-life challenges carried into this lifetime.
                  karmicDebtNumber:
                    type: number
                    example: 14
                    description: The specific Karmic Debt number detected during reduction, if any. Each debt number (13, 14, 16, 19) represents a distinct past-life lesson requiring resolution.
                  karmicDebtMeaning:
                    type: object
                    properties:
                      description:
                        type: string
                        example: Accumulated Obligation of Moderation and Stability
                        description: Title describing the karmic debt theme and core past-life pattern.
                      challenge:
                        type: string
                        example: A past pattern of misusing personal freedom, whether through overindulgence, excess, or the...
                        description: The specific challenge or pattern from past lives that must be confronted.
                      resolution:
                        type: string
                        example: Develop moderation as a practiced discipline rather than a reactive restriction. Build and honor...
                        description: Practical guidance for resolving the karmic debt and transforming the challenge into growth.
                    required:
                    - description
                    - challenge
                    - resolution
                    description: Detailed interpretation of the Karmic Debt number when present. Only returned when hasKarmicDebt is true.
                  meaning:
                    type: object
                    properties:
                      title:
                        type: string
                        example: The Adventurer
                        description: Numerology archetype name for this Life Path number. Encapsulates the core identity and energy in a single phrase, such as "The Leader" for 1 or "The Master Builder" for 22.
                      keywords:
                        type: array
                        items:
                          type: string
                        example:
                        - freedom
                        - adventure
                        - change
                        - versatility
                        - curiosity
                        description: Defining personality traits and energetic themes of this number. Useful for quick personality snapshots, tag clouds and compatibility matching.
                      description:
                        type: string
                        example: The 5 is the most kinetic of all single-digit numbers. It is in constant motion, oriented toward...
                        description: Core interpretation of the number covering personality, purpose and life themes. Together with the strengths, challenges, career, relationships and spirituality fields it makes a full-page reading.
                      strengths:
                        type: array
                        items:
                          type: string
                        example:
                        - Adaptable
                        - Resourceful
                        - Socially fluent
                        description: Core strengths and positive qualities. Each entry includes a trait name followed by a detailed explanation of how it manifests in daily life.
                      challenges:
                        type: array
                        items:
                          type: string
                        example:
                        - Unreliable
                        - Impulsive
                        - Directionless
                        description: Growth areas and shadow qualities to be aware of. Each entry names the challenge and explains its root cause and how to work through it constructively.
                      career:
                        type: string
                        example: The 5 requires variety, autonomy, and stimulation in its professional life. Sales, journalism...
                        description: Tailored career guidance covering ideal industries, roles, and work environments. Includes specific job titles and explains why certain professional paths align with this number.
                      relationships:
                        type: string
                        example: The 5 brings vitality and spontaneity to relationships but requires genuine freedom within them to...
                        description: Love, friendship, and family dynamics. Covers romantic compatibility with other Life Path numbers, communication style, and the key relationship lessons for this number.
                      spirituality:
                        type: string
                        example: The 5 encounters the sacred primarily through direct experience rather than formal practice....
                        description: Spiritual path, soul lessons, and recommended practices. Explores the deeper purpose behind this number and offers guidance for personal growth and inner alignment.
                    required:
                    - title
                    - keywords
                    - description
                    - strengths
                    - challenges
                    - career
                    - relationships
                    - spirituality
                required:
                - number
                - calculation
                - type
                - hasKarmicDebt
                - meaning
        '400':
          description: Validation error. `issues[]` lists every failed field.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: First issue summary.
                  code:
                    type: string
                    enum:
                    - validation_error
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                  issues:
                    type: array
                    description: Every validation failure. Use this to rebuild a valid request.
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                          description: Dot-separated field path, or "(root)" for top-level.
                        message:
                          type: string
                        code:
                          type: string
                          description: Zod issue code (invalid_type, too_small, too_big, invalid_string, ...).
                        expected:
                          type: string
                          description: Expected type for invalid_type.
                        minimum:
                          description: Minimum bound for too_small issues.
                          oneOf:
                          - type: number
                          - type: string
                        maximum:
                          description: Maximum bound for too_big issues.
                          oneOf:
                          - type: number
                          - type: string
                        inclusive:
                          type: boolean
                        format:
                          type: string
                          description: Format name for string issues (regex, email, url, uuid).
                        pattern:
                          type: string
                          description: Regex pattern when format is regex.
                      required:
                      - path
                      - message
                required:
                - error
                - code
                - doc_url
                - issues
        '401':
          description: Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message. May change wording.
                  code:
                    type: string
                    description: Machine-readable error code. Stable identifier.
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                required:
                - error
                - code
                - doc_url
        '405':
          description: Method not allowed. The path exists but only responds to the methods listed in `allow[]` and the `Allow` response header.
          headers:
            Allow:
              description: Comma-separated list of allowed methods (RFC 9110).
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: string
                    enum:
                    - method_not_allowed
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                  allow:
                    type: array
                    items:
                      type: string
                    description: Allowed HTTP methods for this path. Mirrors the Allow response header.
                  docs:
                    type: string
                    description: Link to the product page for this domain.
                required:
                - error
                - code
                - doc_url
                - allow
        '429':
          description: Monthly rate limit exceeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message. May change wording.
                  code:
                    type: string
                    description: Machine-readable error code. Stable identifier.
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                required:
                - error
                - code
                - doc_url
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message. May change wording.
                  code:
                    type: string
                    description: Machine-readable error code. Stable identifier.
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                required:
                - error
                - code
                - doc_url
  /numerology/expression:
    post:
      operationId: calculateExpression
      tags:
      - Numerology
      summary: Calculate Expression number - Destiny number calculator API
      description: Calculate the Expression number, also called the Destiny number, from a full birth name with Pythagorean numerology. Every letter is valued and the name is reduced name by name, with master numbers 11, 22 and 33 kept and a karmic debt of 13, 14, 16 or 19 flagged with its meaning. The response lists every letter value and returns a full interpretation of natural talents, career, relationships and spiritual path in the language set by lang. Built for name numerology apps, career and personal brand tools, and AI agents.
      security:
      - apiKey: []
      parameters:
      - schema:
          type: string
          enum:
          - en
          - tr
          - de
          - es
          - hi
          - pt
          - fr
          - ru
          - zh-Hans
          - zh-Hant
          default: en
          example: en
          description: 'Response language (BCP 47). Supported: en, tr, de, es, hi, pt, fr, ru, zh-Hans, zh-Hant. Defaults to en. Coverage varies by domain, and a field with no translation in the requested language returns English.'
        required: false
        description: 'Response language (BCP 47). Supported: en, tr, de, es, hi, pt, fr, ru, zh-Hans, zh-Hant. Defaults to en. Coverage varies by domain, and a field with no translation in the requested language returns English.'
        name: lang
        in: query
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                fullName:
                  type: string
                  minLength: 1
                  maxLength: 200
                  example: John William Smith
                  description: Full birth name (first, middle, last). A name in any script is converted to Latin letters before it is counted, Cyrillic and Greek as the passport spelling and accents folded to the base letter, and the calculation lists the letters counted. For a script that does not write its vowels, send the Latin spelling the person uses.
              required:
              - fullName
      responses:
        '200':
          description: Successfully calculated Expression number with detailed interpretation
          content:
            application/json:
              schema:
                type: object
                properties:
                  number:
                    type: number
                    example: 6
                    description: 'Expression number (also called Destiny number) from every letter of the full birth name. Reveals natural talents, abilities, and the goals you are meant to achieve. Values: 1 to 9, 11, 22, or 33.'
                  calculation:
                    type: string
                    example: 'John: J=1, O=6, H=8, N=5 = 20 → 2; William: W=5, I=9, L=3, L=3, I=9, A=1, M=4 = 34 → 7; Smith: S=1, M=4, I=9, T=2, H=8 = 24 → 6 → 2+7+6 = 15 → 6'
                    description: 'Every letter value of the birth name, grouped by name: each name is summed and reduced, then the names are added and reduced to the final Expression number.'
                  type:
                    type: string
                    enum:
                    - single
                    - master
                    example: single
                    description: Single-digit (1 to 9) or Master Number (11, 22, 33). Master Numbers in the Expression position indicate extraordinary innate talent that demands conscious development.
                  hasKarmicDebt:
                    type: boolean
                    example: false
                    description: Whether a Karmic Debt number (13, 14, 16, 19) appeared in the final reduction, the sum of the reduced names. Indicates inherited challenges embedded in your given name.
                  karmicDebtNumber:
                    type: number
                    example: 14
                    description: Specific Karmic Debt number found during reduction. Each debt (13, 14, 16, 19) points to a distinct lesson woven into the talents your name bestows.
                  karmicDebtMeaning:
                    type: object
                    properties:
                      description:
                        type: string
                        example: Accumulated Obligation of Moderation and Stability
                        description: Title describing the karmic debt theme. Identifies the core past-life pattern that this debt number carries forward.
                      challenge:
                        type: string
                        example: A past pattern of misusing personal freedom, whether through overindulgence, excess, or the...
                        description: The specific challenge or pattern from past lives that must be confronted. Explains the root cause of recurring obstacles.
                      resolution:
                        type: string
                        example: Develop moderation as a practiced discipline rather than a reactive restriction. Build and honor...
                        description: Practical guidance for resolving the karmic debt. Actionable steps for transforming the inherited challenge into growth.
                    required:
                    - description
                    - challenge
                    - resolution
                    description: Detailed interpretation of the Karmic Debt number when present. Includes the debt theme, the inherited challenge, and guidance for resolution. Only returned when hasKarmicDebt is true.
                  meaning:
                    type: object
                    properties:
                      title:
                        type: string
                        example: The Nurturer
                        description: Numerology archetype for this Expression number. Captures the essence of your natural abilities, such as "The Communicator" for 3 or "The Master Intuitive" for 11.
                      keywords:
                        type: array
                        items:
                          type: string
                        example:
                        - love
                        - harmony
                        - responsibility
                        - nurturing
                        - family
                        description: Defining traits and talent themes for this Expression number. Ideal for personality profiles, compatibility engines, and talent-matching features.
                      description:
                        type: string
                        example: The 6 is the most relationship-oriented of the single-digit numbers, organized around a genuine...
                        description: Core interpretation of the natural abilities, life mission and destiny the birth name describes. Together with the strengths, challenges, career, relationships and spirituality fields it makes a full reading.
                      strengths:
                        type: array
                        items:
                          type: string
                        example:
                        - Supportive
                        - Protective
                        - Responsible
                        description: Natural talents and innate gifts. Each strength includes a detailed explanation of how it shows up in work, relationships, and personal growth.
                      challenges:
                        type: array
                        items:
                          type: string
                        example:
                        - Overprotective
                        - Self-neglecting
                        - Idealistic
                        description: Shadow side of your talents and areas requiring conscious effort. Each challenge explains its root cause and practical strategies for transformation.
                      career:
                        type: string
                        example: The 6 is most effective in roles where its capacity for care and its aesthetic sensibility can both...
                        description: Professional guidance aligned with your natural Expression talents. Covers ideal industries, specific roles, and the work environments where you will thrive.
                      relationships:
                        type: string
                        example: The 6 is a devoted and attentive partner who brings warmth, stability, and genuine investment to...
                        description: How your Expression number shapes love, friendship, and family bonds. Includes compatibility insights with other numbers and communication patterns.
                      spirituality:
                        type: string
                        example: The spiritual life of the 6 is inseparable from its relational life. It finds the sacred in acts of...
                        description: The spiritual dimension of your Expression energy. Explores soul lessons, recommended practices, and the deeper purpose your talents are meant to serve.
                    required:
                    - title
                    - keywords
                    - description
                    - strengths
                    - challenges
                    - career
                    - relationships
                    - spirituality
                required:
                - number
                - calculation
                - type
                - hasKarmicDebt
                - meaning
        '400':
          description: Validation error. `issues[]` lists every failed field.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: First issue summary.
                  code:
                    type: string
                    enum:
                    - validation_error
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                  issues:
                    type: array
                    description: Every validation failure. Use this to rebuild a valid request.
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                          description: Dot-separated field path, or "(root)" for top-level.
                        message:
                          type: string
                        code:
                          type: string
                          description: Zod issue code (invalid_type, too_small, too_big, invalid_string, ...).
                        expected:
                          type: string
                          description: Expected type for invalid_type.
                        minimum:
                          description: Minimum bound for too_small issues.
                          oneOf:
                          - type: number
                          - type: string
                        maximum:
                          description: Maximum bound for too_big issues.
                          oneOf:
                          - type: number
                          - type: string
                        inclusive:
                          type: boolean
                        format:
                          type: string
                          description: Format name for string issues (regex, email, url, uuid).
                        pattern:
                          type: string
                          description: Regex pattern when format is regex.
                      required:
                      - path
                      - message
                required:
                - error
                - code
                - doc_url
                - issues
        '401':
          description: Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message. May change wording.
                  code:
                    type: string
                    description: Machine-readable error code. Stable identifier.
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                required:
                - error
                - code
                - doc_url
        '405':
          description: Method not allowed. The path exists but only responds to the methods listed in `allow[]` and the `Allow` response header.
          headers:
            Allow:
              description: Comma-separated list of allowed methods (RFC 9110).
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: string
                    enum:
                    - method_not_allowed
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                  allow:
                    type: array
                    items:
                      type: string
                    description: Allowed HTTP methods for this path. Mirrors the Allow response header.
                  docs:
                    type: string
                    description: Link to the product page for this domain.
                required:
                - error
                - code
                - doc_url
                - allow
        '429':
          description: Monthly rate limit exceeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message. May change wording.
                  code:
                    type: string
                    description: Machine-readable error code. Stable identifier.
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                required:
                - error
                - code
                - doc_url
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message. May change wording.
                  code:
                    type: string
                    description: Machine-readable error code. Stable identifier.
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                required:
                - error
                - code
                - doc_url
  /numerology/bridge:
    post:
      operationId: calculateBridgeNumbers
      tags:
      - Numerology
      summary: Calculate Bridge Numbers - Numerology bridge numbers API
      description: 'Calculate four numerology Bridge numbers from a full birth name and birth date: Life Path and Expression, Expression and Soul Urge, Soul Urge and Personality, and Expression and Personality. Each bridge is the distance between two core numbers, from 0 to 8, where 0 means the two are already in harmony, and comes with guidance for closing the gap in the language set by lang. Built for personal development, coaching and personality analysis tools and AI agents.'
      security:
      - apiKey: []
      parameters:
      - schema:
          type: string
          enum:
          - en
          - tr
          - de
          - es
          - hi
          - pt
          - fr
          - ru
          - zh-Hans
          - zh-Hant
          default: en
          example: en
          description: 'Response language (BCP 47). Supported: en, tr, de, es, hi, pt, fr, ru, zh-Hans, zh-Hant. Defaults to en. Coverage varies by domain, and a field with no translation in the requested language returns English.'
        required: false
        description: 'Response language (BCP 47). Supported: en, tr, de, es, hi, pt, fr, ru, zh-Hans, zh-Hant. Defaults to en. Coverage varies by domain, and a field with no translation in the requested language returns English.'
        name: lang
        in: query
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                fullName:
                  type: string
                  minLength: 1
                  maxLength: 200
                  example: John William Smith
                  description: Full birth name as it appears on the birth certificate, first, middle and last names separated by spaces. Used to calculate the Expression, Soul Urge and Personality numbers. A name in any script is converted to Latin letters before it is counted, Cyrillic and Greek as the passport spelling and accents folded to the base letter, and the calculation lists the letters counted. For a script that does not write its vowels, send the Latin spelling the person uses.
                year:
                  type: integer
                  minimum: 100
                  maximum: 2100
                  example: 1990
                  description: Birth year between 100 and 2100. Used to calculate the Life Path number via Pythagorean reduction.
                month:
                  type: integer
                  minimum: 1
                  maximum: 12
                  example: 7
                  description: Birth month (1 to 12)
                day:
                  type: integer
                  minimum: 1
                  maximum: 31
                  example: 15
                  description: Birth day (1 to 31)
              required:
              - fullName
              - year
              - month
              - day
      responses:
        '200':
          description: Successfully calculated four Bridge Numbers with actionable harmony guidance
          content:
            application/json:
              schema:
                type: object
                properties:
                  lifePathExpression:
                    type: object
                    properties:
                      bridge:
                        type: integer
                        minimum: 0
                        maximum: 8
                        example: 3
                        description: Bridge number (0 to 8). The absolute difference between two core numerology numbers after reducing master numbers to single digits. 0 means the two aspects are already in natural harmony. Higher values indicate greater tension requiring conscious adjustment.
                      from:
                        type: object
                        properties:
                          name:
                            type: string
                            example: Life Path
                            description: Name of the first core number in this bridge pair. Identifies which aspect of personality or destiny is being compared.
                          number:
                            type: number
                            example: 5
                            description: The reduced single-digit value (1 to 9) of the first core number used in the bridge calculation.
                        required:
                        - name
                        - number
                      to:
                        type: object
                        properties:
                          name:
                            type: string
                            example: Expression
                            description: Name of the second core number in this bridge pair. Identifies the other aspect of personality or destiny being compared.
                          number:
                            type: number
                            example: 8
                            description: The reduced single-digit value (1 to 9) of the second core number used in the bridge calculation.
                        required:
                        - name
                        - number
                      meaning:
                        type: string
                        example: Focus on developing self-discipline and a consistent work ethic. Channel your creative ideas into structured plans with clear milestones. Regular routines and organized habits will help you align your inner vision with your outer expression.
                        description: Actionable guidance for bridging the gap between these two aspects of your numerology profile. Explains what adjustments to make to bring these energies into harmony.
                    required:
                    - bridge
                    - from
                    - to
                    - meaning
                    description: Bridge between Life Path and Expression numbers. Reveals the gap between your destined life purpose (from birth date) and your natural talents and abilities (from birth name). A high bridge here means your innate skills may not directly serve your life mission without conscious effort.
                  expressionPersonality:
                    type: object
                    properties:
                      bridge:
                        type: integer
                        minimum: 0
                        maximum: 8
                        example: 3
                        description: Bridge number (0 to 8). The absolute difference between two core numerology numbers after reducing master numbers to single digits. 0 means the two aspects are already in natural harmony. Higher values indicate greater tension requiring conscious adjustment.
                      from:
                        type: object
                        properties:
                          name:
                            type: string
                            example: Life Path
                            description: Name of the first core number in this bridge pair. Identifies which aspect of personality or destiny is being compared.
                          number:
                            type: number
                            example: 5
                            description: The reduced single-digit value (1 to 9) of the first core number used in the bridge calculation.
                        required:
                        - name
                        - number
                      to:
                        type: object
                        properties:
                          name:
                            type: string
                            example: Expression
                            description: Name of the second core number in this bridge pair. Identifies the other aspect of personality or destiny being compared.
                          number:
                            type: number
                            example: 8
                            description: The reduced single-digit value (1 to 9) of the second core number used in the bridge calculation.
                        required:
                        - name
                        - number
                      meaning:
                        type: string
                        example: Focus on developing self-discipline and a consistent work ethic. Channel your creative ideas into structured plans with clear milestones. Regular routines and organized habits will help you align your inner vision with your outer expression.
                        description: Actionable guidance for bridging the gap between these two aspects of your numerology profile. Explains what adjustments to make to bring these energies into harmony.
                    required:
                    - bridge
                    - from
                    - to
                    - meaning
                    description: Bridge between Expression and Personality numbers, a pairing this API adds beside the classical bridges. Reveals the gap between your true talents (all letters) and how others perceive you (consonants only). A high bridge means others may not see your real capabilities, requiring you to present yourself more authentically.
                  soulUrgePersonality:
                    type: object
                    properties:
                      bridge:
                        type: integer
                        minimum: 0
                        maximum: 8
                        example: 3
                        description: Bridge number (0 to 8). The absolute difference between two core numerology numbers after reducing master numbers to single digits. 0 means the two aspects are already in natural harmony. Higher values indicate greater tension requiring conscious adjustment.
                      from:
                        type: object
                        properties:
                          name:
                            type: string
                            example: Life Path
                            description: Name of the first core number in this bridge pair. Identifies which aspect of personality or destiny is being compared.
                          number:
                            type: number
                            example: 5
                            description: The reduced single-digit value (1 to 9) of the first core number used in the bridge calculation.
                        required:
                        - name
                        - number
                      to:
                        type: object
                        properties:
                          name:
                            type: string
                            example: Expression
                            description: Name of the second core number in this bridge pair. Identifies the other aspect of personality or destiny being compared.
                          number:
                            type: number
                            example: 8
                            description: The reduced single-digit value (1 to 9) of the second core number used in the bridge calculation.
                        required:
                        - name
                        - number
                      meaning:
                        type: string
                        example: Focus on developing self-discipline and a consistent work ethic. Channel your creative ideas into structured plans with clear milestones. Regular routines and organized habits will help you align your inner vision with your outer expression.
                        description: Actionable guidance for bridging the gap between these two aspects of your numerology profile. Explains what adjustments to make to bring these energies into harmony.
                    required:
                    - bridge
                    - from
                    - to
                    - meaning
                    description: Bridge between Soul Urge and Personality numbers, one of the classical bridges. Reveals the gap between your inner self (vowels only) and the image others meet first (consonants only). A high bridge means what you want and how you come across pull apart, calling for a more transparent presentation of your real motives.
                  expressionSoulUrge:
                    type: object
                    properties:
                      bridge:
                        type: integer
                        minimum: 0
                        maximum: 8
                        example: 3
                        description: Bridge number (0 to 8). The absolute difference between two core numerology numbers after reducing master numbers to single digits. 0 means the two aspects are already in natural harmony. Higher values indicate greater tension requiring conscious adjustment.
                      from:
                        type: object
                        properties:
                          name:
                            type: string
                            example: Life Path
                            description: Name of the first core number in this bridge pair. Identifies which aspect of personality or destiny is being compared.
                          number:
                            type: number
                            example: 5
                            description: The reduced single-digit value (1 to 9) of the first core number used in the bridge calculation.
                        required:
                        - name
                        - number
                      to:
                        type: object
                        properties:
                          name:
                            type: string
                            example: Expression
                            description: Name of the second core number in this bridge pair. Identifies the other aspect of personality or destiny being compared.
                          number:
                            type: number
                            example: 8
                            description: The reduced single-digit value (1 to 9) of the second core number used in the bridge calculation.
                        required:
                        - name
                        - number
                      meaning:
                        type: string
                        example: Focus on developing self-discipline and a consistent work ethic. Channel your creative ideas into structured plans with clear milestones. Regular routines and organized habits will help you align your inner vision with your outer expression.
                        description: Actionable guidance for bridging the gap between these two aspects of your numerology profile. Explains what adjustments to make to bring these energies into harmony.
                    required:
                    - bridge
                    - from
                    - to
                    - meaning
                    description: Bridge between Expression and Soul Urge numbers. Reveals the gap between your outward talents (all letters) and your deepest inner desires (vowels only). A high bridge means what you are good at may differ from what your soul truly craves, calling for realignment.
                required:
                - lifePathExpression
                - expressionPersonality
                - soulUrgePersonality
                - expressionSoulUrge
        '400':
          description: Validation error. `issues[]` lists every failed field.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: First issue summary.
                  code:
                    type: string
                    enum:
                    - validation_error
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                  issues:
                    type: array
                    description: Every validation failure. Use this to rebuild a valid request.
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                          description: Dot-separated field path, or "(root)" for top-level.
                        message:
                          type: string
                        code:
                          type: string
                          description: Zod issue code (invalid_type, too_small, too_big, invalid_string, ...).
                        expected:
                          type: string
                          description: Expected type for invalid_type.
                        minimum:
                          description: Minimum bound for too_small issues.
                          oneOf:
                          - type: number
                          - type: string
                        maximum:
                          description: Maximum bound for too_big issues.
                          oneOf:
                          - type: number
                          - type: string
                        inclusive:
                          type: boolean
                        format:
                          type: string
                          description: Format name for string issues (regex, email, url, uuid).
                        pattern:
                          type: string
                          description: Regex pattern when format is regex.
                      required:
                      - path
                      - message
                required:
                - error
                - code
                - doc_url
                - issues
        '401':
          description: Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message. May change wording.
                  code:
                    type: string
                    description: Machine-readable error code. Stable identifier.
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                required:
                - error
                - code
                - doc_url
        '405':
          description: Method not allowed. The path exists but only responds to the methods listed in `allow[]` and the `Allow` response header.
          headers:
            Allow:
              description: Comma-separated list of allowed methods (RFC 9110).
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: string
                    enum:
                    - method_not_allowed
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                  allow:
                    type: array
                    items:
                      type: string
                    description: Allowed HTTP methods for this path. Mirrors the Allow response header.
                  docs:
                    type: string
                    description: Link to the product page for this domain.
                required:
                - error
                - code
                - doc_url
                - allow
        '429':
          description: Monthly rate limit exceeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message. May change wording.
                  code:
                    type: string
                    description: Machine-readable error code. Stable identifier.
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                required:
                - error
                - code
                - doc_url
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message. May change wording.
                  code:
                    type: string
                    description: Machine-readable error code. Stable identifier.
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                required:
                - error
                - code
                - doc_url
  /numerology/soul-urge:
    post:
      operationId: calculateSoulUrge
      tags:
      - Numerology
      summary: Calculate Soul Urge number - Heart Desire number calculator API
      description: Calculate the Soul Urge number, also called the Heart Desire number, from the vowels of a full birth name with Pythagorean numerology. A, E, I, O and U are the vowels and Y and W count as consonants; master numbers 11, 22 and 33 are kept and a karmic debt of 13, 14, 16 or 19 is flagged with its meaning. The response lists every vowel name by name and returns a full interpretation of inner motivation, relationships and spiritual path in the language set by lang. Built for self-discovery apps, dating profiles, coaching tools and AI agents.
      security:
      - apiKey: []
      parameters:
      - schema:
          type: string
          enum:
          - en
          - tr
          - de
          - es
          - hi
          - pt
          - fr
          - ru
          - zh-Hans
          - zh-Hant
          default: en
          example: en
          description: 'Response language (BCP 47). Supported: en, tr, de, es, hi, pt, fr, ru, zh-Hans, zh-Hant. Defaults to en. Coverage varies by domain, and a field with no translation in the requested language returns English.'
        required: false
        description: 'Response language (BCP 47). Supported: en, tr, de, es, hi, pt, fr, ru, zh-Hans, zh-Hant. Defaults to en. Coverage varies by domain, and a field with no translation in the requested language returns English.'
        name: lang
        in: query
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                fullName:
                  type: string
                  minLength: 1
                  maxLength: 200
                  example: John William Smith
                  description: Full birth name. Its vowels A, E, I, O and U give the Soul Urge, so a name with none is refused. A name in any script is converted to Latin letters before it is counted, Cyrillic and Greek as the passport spelling and accents folded to the base letter, and the calculation lists the letters counted. For a script that does not write its vowels, send the Latin spelling the person uses.
              required:
              - fullName
      responses:
        '200':
          description: Successfully calculated Soul Urge number with detailed interpretation
          content:
            application/json:
              schema:
                type: object
                properties:
                  number:
                    type: number
                    example: 7
                    description: Your Soul Urge number (also called Heart Desire number), revealing your innermost motivations and what your soul truly craves. Values range from 1 to 9 for single digits, or 11, 22, 33 for Master Numbers.
                  calculation:
                    type: string
                    example: 'Vowels: John: O=6 = 6; William: I=9, I=9, A=1 = 19 → 10 → 1; Smith: I=9 = 9 → 6+1+9 = 16 → 7'
                    description: 'Every vowel (A, E, I, O, U) of the birth name with its value, grouped by name: each name is summed and reduced, then the names are added and reduced to the final Soul Urge number.'
                  type:
                    type: string
                    enum:
                    - single
                    - master
                    example: single
                    description: Whether this is a standard single-digit number (1 to 9) or a Master Number (11, 22, 33). Master Numbers in the Soul Urge position indicate a soul with amplified spiritual longing and heightened inner sensitivity.
                  hasKarmicDebt:
                    type: boolean
                    example: true
                    description: Indicates whether a Karmic Debt number (13, 14, 16, or 19) appeared during the vowel reduction chain. Karmic Debt in the Soul Urge reveals past-life emotional patterns and unresolved inner desires carried into this lifetime.
                  karmicDebtNumber:
                    type: number
                    example: 16
                    description: The specific Karmic Debt number detected during the vowel reduction, if any. Each debt number (13, 14, 16, 19) represents a distinct past-life emotional lesson that influences your deepest desires and motivations.
                  karmicDebtMeaning:
                    type: object
                    properties:
                      description:
                        type: string
                        example: Accumulated Obligation of Humility and Authentic Love
                        description: Title describing the karmic debt theme and core past-life pattern.
                      challenge:
                        type: string
                        example: A past pattern centered on ego, misuse of relational power, or the destruction of bonds through...
                        description: The specific challenge from past lives that must be confronted.
                      resolution:
                        type: string
                        example: Develop authentic humility by setting aside the need for status in close relationships. Build...
                        description: Practical guidance for resolving the karmic debt.
                    required:
                    - description
                    - challenge
                    - resolution
                    description: Detailed interpretation of the Karmic Debt number when present. Only returned when hasKarmicDebt is true.
                  meaning:
                    type: object
                    properties:
                      title:
                        type: string
                        example: The Seeker
                        description: Numerology archetype for this Soul Urge number. Reveals the deepest inner motivation, such as "The Seeker" for 7 or "The Master Teacher" for 33.
                      keywords:
                        type: array
                        items:
                          type: string
                        example:
                        - wisdom
                        - introspection
                        - analysis
                        - mystery
                        - solitude
                        description: Core emotional drives and inner motivations for this Soul Urge. Useful for understanding hidden desires, emotional needs, and what truly fulfills someone at the deepest level.
                      description:
                        type: string
                        example: The 7 is the most internally-oriented of the single-digit numbers. While other numbers are engaged...
                        description: Core interpretation of the inner self, hidden desires and emotional landscape. Together with the strengths, challenges, career, relationships and spirituality fields it makes a full reading.
                      strengths:
                        type: array
                        items:
                          type: string
                        example:
                        - Analytical
                        - Spiritually perceptive
                        - Depth of focus
                        description: Emotional superpowers and inner gifts. Each strength describes how it shapes decision-making, relationships, and the pursuit of personal fulfillment.
                      challenges:
                        type: array
                        items:
                          type: string
                        example:
                        - Withdrawn
                        - Overly private
                        - Skeptical to excess
                        description: Inner shadows and emotional patterns to balance. Explains how each challenge manifests when the Soul Urge energy is overextended or repressed.
                      career:
                        type: string
                        example: The 7 performs at its highest level in roles that reward solitary investigation, analytical depth...
                        description: Career paths that satisfy your deepest emotional needs. Focuses on work that feeds the soul rather than just the resume, aligned with inner fulfillment.
                      relationships:
                        type: string
                        example: The 7 forms relationships with care and some difficulty, opening its interior world slowly and only...
                        description: How your Soul Urge shapes what you need from love, friendship, and family. Covers emotional compatibility, attachment style, and the key to feeling truly seen.
                      spirituality:
                        type: string
                        example: The 7 is the most naturally spiritual of the single-digit numbers, not in a doctrinal sense but in...
                        description: The spiritual hunger at your core. Explores what your soul is seeking in this lifetime and the practices that bring you closest to inner peace and alignment.
                    required:
                    - title
                    - keywords
                    - description
                    - strengths
                    - challenges
                    - career
                    - relationships
                    - spirituality
                required:
                - number
                - calculation
                - type
                - hasKarmicDebt
                - meaning
        '400':
          description: Validation error. `issues[]` lists every failed field.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: First issue summary.
                  code:
                    type: string
                    enum:
                    - validation_error
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                  issues:
                    type: array
                    description: Every validation failure. Use this to rebuild a valid request.
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                          description: Dot-separated field path, or "(root)" for top-level.
                        message:
                          type: string
                        code:
                          type: string
                          description: Zod issue code (invalid_type, too_small, too_big, invalid_string, ...).
                        expected:
                          type: string
                          description: Expected type for invalid_type.
                        minimum:
                          description: Minimum bound for too_small issues.
                          oneOf:
                          - type: number
                          - type: string
                        maximum:
                          description: Maximum bound for too_big issues.
                          oneOf:
                          - type: number
                          - type: string
                        inclusive:
                          type: boolean
                        format:
                          type: string
                          description: Format name for string issues (regex, email, url, uuid).
                        pattern:
                          type: string
                          description: Regex pattern when format is regex.
                      required:
                      - path
                      - message
                required:
                - error
                - code
                - doc_url
                - issues
        '401':
          description: Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message. May change wording.
                  code:
                    type: string
                    description: Machine-readable error code. Stable identifier.
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                required:
                - error
                - code
                - doc_url
        '405':
          description: Method not allowed. The path exists but only responds to the methods listed in `allow[]` and the `Allow` response header.
          headers:
            Allow:
              description: Comma-separated list of allowed methods (RFC 9110).
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: string
                    enum:
                    - method_not_allowed
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                  allow:
                    type: array
                    items:
                      type: string
                    description: Allowed HTTP methods for this path. Mirrors the Allow response header.
                  docs:
                    type: string
                    description: Link to the product page for this domain.
                required:
                - error
                - code
                - doc_url
                - allow
        '429':
          description: Monthly rate limit exceeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message. May change wording.
                  code:
                    type: string
                    description: Machine-readable error code. Stable identifier.
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                required:
                - error
                - code
                - doc_url
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message. May change wording.
                  code:
                    type: string
                    description: Machine-readable error code. Stable identifier.
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                required:
                - error
                - code
                - doc_url
  /numerology/personality:
    post:
      operationId: calculatePersonality
      tags:
      - Numerology
      summary: Calculate Personality number - Outer personality numerology API
      description: Calculate the Personality number from the consonants of a full birth name with Pythagorean numerology. Every letter other than A, E, I, O and U is a consonant, Y and W included; master numbers 11, 22 and 33 are kept and a karmic debt of 13, 14, 16 or 19 is flagged with its meaning. The response lists every consonant name by name and returns a full interpretation of first impressions, public image, career and relationships in the language set by lang. Built for personal branding apps, social and dating profiles, coaching tools and AI agents.
      security:
      - apiKey: []
      parameters:
      - schema:
          type: string
          enum:
          - en
          - tr
          - de
          - es
          - hi
          - pt
          - fr
          - ru
          - zh-Hans
          - zh-Hant
          default: en
          example: en
          description: 'Response language (BCP 47). Supported: en, tr, de, es, hi, pt, fr, ru, zh-Hans, zh-Hant. Defaults to en. Coverage varies by domain, and a field with no translation in the requested language returns English.'
        required: false
        description: 'Response language (BCP 47). Supported: en, tr, de, es, hi, pt, fr, ru, zh-Hans, zh-Hant. Defaults to en. Coverage varies by domain, and a field with no translation in the requested language returns English.'
        name: lang
        in: query
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                fullName:
                  type: string
                  minLength: 1
                  maxLength: 200
                  example: John William Smith
                  description: Full birth name. Its consonants give the Personality number, so a name with none is refused. A name in any script is converted to Latin letters before it is counted, Cyrillic and Greek as the passport spelling and accents folded to the base letter, and the calculation lists the letters counted. For a script that does not write its vowels, send the Latin spelling the person uses.
              required:
              - fullName
      responses:
        '200':
          description: Successfully calculated Personality number with detailed interpretation
          content:
            application/json:
              schema:
                type: object
                properties:
                  number:
                    type: number
                    example: 8
                    description: Your Personality number, derived from the consonants in your birth name. Reveals how others perceive you, your outer persona, and the first impression you project. Values range from 1 to 9 for single digits, or 11, 22, 33 for Master Numbers.
                  calculation:
                    type: string
                    example: 'Consonants: John: J=1, H=8, N=5 = 14 → 5; William: W=5, L=3, L=3, M=4 = 15 → 6; Smith: S=1, M=4, T=2, H=8 = 15 → 6 → 5+6+6 = 17 → 8'
                    description: 'Every consonant of the birth name with its value, grouped by name: each name is summed and reduced, then the names are added and reduced to the final Personality number.'
                  type:
                    type: string
                    enum:
                    - single
                    - master
                    example: single
                    description: Whether this is a standard single-digit number (1 to 9) or a Master Number (11, 22, 33). Master Numbers in the Personality position indicate a powerful outer presence that others immediately sense, carrying heightened charisma and public influence.
                  hasKarmicDebt:
                    type: boolean
                    example: false
                    description: Indicates whether a Karmic Debt number (13, 14, 16, or 19) appeared during the consonant reduction chain. Karmic Debt in the Personality position reveals past-life patterns that influence how others perceive you and the social challenges you must overcome.
                  karmicDebtNumber:
                    type: number
                    example: 16
                    description: The specific Karmic Debt number detected during the consonant reduction, if any. Each debt number (13, 14, 16, 19) represents a distinct past-life lesson that shapes your public image and social interactions.
                  karmicDebtMeaning:
                    type: object
                    properties:
                      description:
                        type: string
                        example: Accumulated Obligation of Humility and Authentic Love
                        description: Title describing the karmic debt theme and core past-life pattern.
                      challenge:
                        type: string
                        example: A past pattern centered on ego, misuse of relational power, or the destruction of bonds through...
                        description: The specific challenge from past lives that must be confronted.
                      resolution:
                        type: string
                        example: Develop authentic humility by setting aside the need for status in close relationships. Build...
                        description: Practical guidance for resolving the karmic debt.
                    required:
                    - description
                    - challenge
                    - resolution
                    description: Detailed interpretation of the Karmic Debt number when present. Only returned when hasKarmicDebt is true.
                  meaning:
                    type: object
                    properties:
                      title:
                        type: string
                        example: The Powerhouse
                        description: Numerology archetype for this Personality number. Represents the outer mask you show the world, such as "The Builder" for 4 or "The Powerhouse" for 8.
                      keywords:
                        type: array
                        items:
                          type: string
                        example:
                        - achievement
                        - authority
                        - abundance
                        - ambition
                        - material mastery
                        description: Traits that define your public persona and first impression. These are the qualities others perceive before they get to know the real you.
                      description:
                        type: string
                        example: The 8 is the number most directly associated with material mastery and the exercise of authority in...
                        description: Core interpretation of the outer personality, social presence and the image projected to the world. Together with the strengths, challenges, career, relationships and spirituality fields it makes a full reading.
                      strengths:
                        type: array
                        items:
                          type: string
                        example:
                        - Ambitious
                        - Resilient
                        - Organizationally capable
                        description: Your strongest social assets and public-facing gifts. These qualities shape how you are received in professional settings, social gatherings, and first meetings.
                      challenges:
                        type: array
                        items:
                          type: string
                        example:
                        - Controlling
                        - Status-oriented
                        - Imbalanced in personal life
                        description: Blind spots in your public persona. Patterns others notice that you may not, including defense mechanisms and image-management tendencies that can limit authentic connection.
                      career:
                        type: string
                        example: The 8 is drawn to professional domains where strategic intelligence and organizational capability...
                        description: How your outward presence shapes professional opportunities. Covers the industries, roles, and environments where your public image creates the greatest advantage.
                      relationships:
                        type: string
                        example: The 8 is loyal and reliable in close relationships, and it expresses care primarily through...
                        description: First impressions in love and social dynamics. Explores how your Personality number attracts certain partners, sets relationship expectations, and influences group dynamics.
                      spirituality:
                        type: string
                        example: The spiritual path of the 8 runs through its engagement with material life rather than away from...
                        description: The spiritual energy you radiate to others. Explores how your outer presence serves as a channel for deeper purpose, and what your public path reveals about your soul mission.
                    required:
                    - title
                    - keywords
                    - description
                    - strengths
                    - challenges
                    - career
                    - relationships
                    - spirituality
                required:
                - number
                - calculation
                - type
                - hasKarmicDebt
                - meaning
        '400':
          description: Validation error. `issues[]` lists every failed field.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: First issue summary.
                  code:
                    type: string
                    enum:
                    - validation_error
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                  issues:
                    type: array
                    description: Every validation failure. Use this to rebuild a valid request.
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                          description: Dot-separated field path, or "(root)" for top-level.
                        message:
                          type: string
                        code:
                          type: string
                          description: Zod issue code (invalid_type, too_small, too_big, invalid_string, ...).
                        expected:
                          type: string
                          description: Expected type for invalid_type.
                        minimum:
                          description: Minimum bound for too_small issues.
                          oneOf:
                          - type: number
                          - type: string
                        maximum:
                          description: Maximum bound for too_big issues.
                          oneOf:
                          - type: number
                          - type: string
                        inclusive:
                          type: boolean
                        format:
                          type: string
                          description: Format name for string issues (regex, email, url, uuid).
                        pattern:
                          type: string
                          description: Regex pattern when format is regex.
                      required:
                      - path
                      - message
                required:
                - error
                - code
                - doc_url
                - issues
        '401':
          description: Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message. May change wording.
                  code:
                    type: string
                    description: Machine-readable error code. Stable identifier.
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                required:
                - error
                - code
                - doc_url
        '405':
          description: Method not allowed. The path exists but only responds to the methods listed in `allow[]` and the `Allow` response header.
          headers:
            Allow:
              description: Comma-separated list of allowed methods (RFC 9110).
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: string
                    enum:
                    - method_not_allowed
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                  allow:
                    type: array
                    items:
                      type: string
                    description: Allowed HTTP methods for this path. Mirrors the Allow response header.
                  docs:
                    type: string
                    description: Link to the product page for this domain.
                required:
                - error
                - code
                - doc_url
                - allow
        '429':
          description: Monthly rate limit exceeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message. May change wording.
                  code:
                    type: string
                    description: Machine-readable error code. Stable identifier.
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                required:
                - error
                - code
                - doc_url
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message. May change wording.
                  code:
                    type: string
                    description: Machine-readable error code. Stable identifier.
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                required:
                - error
                - code
                - doc_url
  /numerology/birth-day:
    post:
      operationId: calculateBirthDay
      tags:
      - Numerology
      summary: Calculate Birth Day number - Birthday numerology API
      description: Calculate the Birth Day number from the day of the month a person was born, 1 to 31, with Pythagorean numerology. The 11th, 22nd and 29th keep the master numbers 11 and 22, other two-digit days reduce to one digit, and the 13th, 14th, 16th and 19th are flagged as karmic debt with their meaning. The response returns the calculation and a full interpretation of the special talents the day brings in the language set by lang. Built for birthday features, talent and career discovery tools, and AI agents.
      security:
      - apiKey: []
      parameters:
      - schema:
          type: string
          enum:
          - en
          - tr
          - de
          - es
          - hi
          - pt
          - fr
          - ru
          - zh-Hans
          - zh-Hant
          default: en
          example: en
          description: 'Response language (BCP 47). Supported: en, tr, de, es, hi, pt, fr, ru, zh-Hans, zh-Hant. Defaults to en. Coverage varies by domain, and a field with no translation in the requested language returns English.'
        required: false
        description: 'Response language (BCP 47). Supported: en, tr, de, es, hi, pt, fr, ru, zh-Hans, zh-Hant. Defaults to en. Coverage varies by domain, and a field with no translation in the requested language returns English.'
        name: lang
        in: query
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                day:
                  type: integer
                  minimum: 1
                  maximum: 31
                  example: 23
                  description: Day of birth (1-31)
              required:
              - day
      responses:
        '200':
          description: Successfully calculated Birth Day number with detailed interpretation
          content:
            application/json:
              schema:
                type: object
                properties:
                  number:
                    type: number
                    example: 5
                    description: Your Birth Day number, revealing the special talents and innate abilities you carry from the day you were born. Values range from 1 to 9 for single digits, or 11, 22 for Master Numbers (the 11th, 22nd and 29th).
                  calculation:
                    type: string
                    example: 23 → 5
                    description: Step-by-step digit reduction of the birth day. Single-digit days (1 to 9) remain as they are, a day that is or reduces to 11 or 22 keeps it, and every other two-digit day is reduced to one digit.
                  type:
                    type: string
                    enum:
                    - single
                    - master
                    example: single
                    description: Whether this is a standard single-digit number (1 to 9) or a Master Number (11, 22). Master Numbers in the Birth Day position indicate extraordinary innate gifts that are available from birth and demand conscious development.
                  hasKarmicDebt:
                    type: boolean
                    example: false
                    description: Indicates whether a Karmic Debt number (13, 14, 16, or 19) corresponds to the birth day. Karmic Debt in the Birth Day position reveals past-life challenges woven directly into your natural talents, influencing how your gifts manifest.
                  karmicDebtNumber:
                    type: number
                    example: 19
                    description: The specific Karmic Debt number detected from the birth day, if any. Each debt number (13, 14, 16, 19) represents a distinct past-life lesson embedded in the talents your birth day bestows.
                  karmicDebtMeaning:
                    type: object
                    properties:
                      description:
                        type: string
                        example: Karmic Debt of Power Abuse
                        description: Title describing the karmic debt theme and core past-life pattern.
                      challenge:
                        type: string
                        example: Past life misuse of power or authority, possibly selfishness.
                        description: The specific challenge from past lives that must be confronted.
                      resolution:
                        type: string
                        example: Learn to use power wisely and share it with others.
                        description: Practical guidance for resolving the karmic debt.
                    required:
                    - description
                    - challenge
                    - resolution
                    description: Detailed interpretation of the Karmic Debt number when present. Only returned when hasKarmicDebt is true.
                  meaning:
                    type: object
                    properties:
                      title:
                        type: string
                        example: The Adventurer
                        description: Numerology archetype for this Birth Day number. Represents the specific talent or gift you brought into this life, like "The Nurturer" for 6 or "The Seeker" for 7.
                      keywords:
                        type: array
                        items:
                          type: string
                        example:
                        - versatile
                        - adaptable
                        - communicative
                        - adventurous
                        - dynamic
                        description: Innate talents and natural aptitudes encoded in your birth day. These gifts are available from birth and become more refined with age.
                      description:
                        type: string
                        example: People born on a 5 Birth Day have natural versatility and adaptability...
                        description: Core interpretation of the special abilities the birth day brings and how they complement the Life Path and Expression numbers. Together with the strengths, challenges, career, relationships and spirituality fields it makes a full reading.
                      strengths:
                        type: array
                        items:
                          type: string
                        example:
                        - Adaptability
                        - Communication
                        - Quick learning
                        - Versatility
                        description: Natural-born strengths that come effortlessly. These are the talents you can rely on even without formal training or conscious development.
                      challenges:
                        type: array
                        items:
                          type: string
                        example:
                        - Restlessness
                        - Scattered energy
                        - Commitment avoidance
                        description: The flip side of your gifts. Each challenge explains how an overreliance on natural talent can become a liability without conscious balance.
                      career:
                        type: string
                        example: Life Path 5 thrives in careers that offer freedom, variety, and constant stimulation...
                        description: Professional paths where your birth day talents create an immediate advantage. Covers specific roles, industries, and work styles that align with your innate abilities.
                      relationships:
                        type: string
                        example: Life Path 5 individuals are exciting, charming, and freedom-loving partners...
                        description: How your birth day gifts shape the way you connect with others. Covers romantic chemistry, friendship dynamics, and the relationship patterns rooted in your natural temperament.
                      spirituality:
                        type: string
                        example: Five is the rebel, the traveler, the agent of change...
                        description: The spiritual dimension of your natural gifts. Explores how your birth day talents serve a higher purpose and the practices that help you channel them with intention.
                    required:
                    - title
                    - keywords
                    - description
                    - strengths
                    - challenges
                    - career
                    - relationships
                    - spirituality
                required:
                - number
                - calculation
                - type
                - hasKarmicDebt
                - meaning
        '400':
          description: Validation error. `issues[]` lists every failed field.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
[...]
