openapi: 3.2.0
info:
  title: Roxy I Ching API
  version: 2.0.0
  description: '# RoxyAPI: the Spiritual OS layer for agentic AI


    > **Base URL:** `https://roxyapi.com/api/v2`.'
  x-error-codes:
  - code: validation_error
    status: 400
    meaning: A field is missing or invalid. The body lists every failing field at once in issues, each with its path and the expected shape.
  - code: bad_request
    status: 400
    meaning: The request was rejected as a whole, for example a body that is not valid JSON or a date range that ends before it starts.
  - code: date_out_of_range
    status: 400
    meaning: A date lies outside the span the planetary positions are served for. The error names the supported dates.
  - code: api_key_required
    status: 401
    meaning: No API key was sent.
  - code: invalid_api_key
    status: 401
    meaning: The key sent is malformed or cannot be verified.
  - code: api_key_revoked
    status: 401
    meaning: The key was valid once and has since been revoked from the account page.
  - code: subscription_not_found
    status: 401
    meaning: The key verifies, but the subscription behind it no longer exists.
  - code: subscription_inactive
    status: 401
    meaning: The subscription behind the key is cancelled, expired or suspended, or a trial is past its end date.
  - code: publishable_key_not_allowed_on_mcp
    status: 401
    meaning: A publishable key was used on a Remote MCP server, which takes a secret key.
  - code: invalid_client_ip
    status: 401
    meaning: A keyless request could not be attributed to a caller.
  - code: unauthorized
    status: 401
    meaning: Authentication failed with no more specific reason to give.
  - code: forbidden
    status: 403
    meaning: The key is valid, but this request is not permitted.
  - code: origin_required
    status: 403
    meaning: A publishable key with an origin allowlist was used with no Origin header, as from a server or a native app.
  - code: origin_not_allowed
    status: 403
    meaning: The calling site is not on the origin allowlist of this publishable key.
  - code: not_found
    status: 404
    meaning: Nothing is served at this path, or the identifier in it does not exist. A path miss adds suggestions, the closest real endpoints.
  - code: method_not_allowed
    status: 405
    meaning: The path exists for a different HTTP method. The body lists the accepted methods in allow, as does the Allow header.
  - code: conflict
    status: 409
    meaning: The request cannot be applied in the current state.
  - code: gone
    status: 410
    meaning: The path was removed permanently.
  - code: payload_too_large
    status: 413
    meaning: The request body is larger than the API accepts.
  - code: unsupported_media_type
    status: 415
    meaning: 'A request with a body was sent without Content-Type: application/json.'
  - code: unprocessable_entity
    status: 422
    meaning: Every field is valid, but the combination cannot be computed.
  - code: rate_limit_exceeded
    status: 429
    meaning: The monthly request allowance is used up. Retry-After gives the seconds to the reset.
  - code: rate_limit_per_minute
    status: 429
    meaning: The per-minute limit of the plan was reached. Retry-After gives the seconds to the next minute, and the monthly allowance is not charged.
  - code: rate_limited
    status: 429
    meaning: A rate limit was reached, reported without the plan detail.
  - code: free_tier_exhausted
    status: 429
    meaning: A keyless request has used up its trial allowance.
  - code: internal_error
    status: 500
    meaning: The request failed inside our service. Retry with exponential backoff.
  - code: compute_saturated
    status: 503
    meaning: Heavy calculations are briefly at capacity. Send the same request again after Retry-After seconds.
  - code: error
    status: null
    meaning: A fallback for a status with no more specific code. The status and the error field carry the signal.
  contact:
    name: RoxyAPI Support
    url: https://roxyapi.com/contact
  license:
    name: Proprietary
    url: https://roxyapi.com/policy/terms
servers:
- url: https://roxyapi.com/api/v2
  description: Production API v2
security:
- apiKey: []
tags:
- name: I-Ching
  description: I-Ching oracle API with all 64 hexagrams, 384 changing lines, 8 trigrams, and modern interpretations for love, career, and decision-making. Cast readings with the authentic three-coin method, get a daily hexagram, and explore the Book of Changes programmatically. Built for divination apps, AI oracle chatbots, fortune-telling platforms, daily wisdom features, and spiritual guidance products. One key covers every RoxyAPI domain, with Remote MCP and typed SDKs.
paths:
  /iching/daily:
    post:
      operationId: getDailyHexagram
      tags:
      - I-Ching
      summary: Daily hexagram - Daily I-Ching oracle API
      description: Receive a daily I-Ching hexagram for guidance and reflection. This endpoint uses seeded randomness to ensure the same seed gets the same hexagram on the same day, perfect for "Hexagram of the Day" features in oracle apps, meditation platforms, and daily wisdom tools. Returns the hexagram with judgment, image, and interpretations for love, career, decisions, and practical advice based on ancient Chinese wisdom from the Book of Changes.
      security:
      - apiKey: []
      parameters:
      - schema:
          type: string
          enum:
          - en
          - tr
          - de
          - es
          - hi
          - pt
          - fr
          - ru
          - zh-Hans
          - zh-Hant
          default: en
          example: en
          description: 'Response language (BCP 47). Supported: en, tr, de, es, hi, pt, fr, ru, zh-Hans, zh-Hant. Defaults to en. Coverage varies by domain, and a field with no translation in the requested language returns English.'
        required: false
        description: 'Response language (BCP 47). Supported: en, tr, de, es, hi, pt, fr, ru, zh-Hans, zh-Hant. Defaults to en. Coverage varies by domain, and a field with no translation in the requested language returns English.'
        name: lang
        in: query
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                seed:
                  type: string
                  example: user123
                  description: Optional seed for reproducible readings. Same seed + same date = same hexagram every time. Pass any unique identifier (userId, email hash, session token). Omit for anonymous daily readings.
                date:
                  type: string
                  format: date
                  example: '2026-03-06'
                  description: Date for the reading in YYYY-MM-DD format. Defaults to today (UTC). Useful for viewing past daily readings or pre-generating future ones.
      responses:
        '200':
          description: Daily hexagram reading with full interpretation
          content:
            application/json:
              schema:
                type: object
                properties:
                  date:
                    type: string
                    example: '2026-01-28'
                    description: Date this daily hexagram is for (YYYY-MM-DD, UTC).
                  seed:
                    type: string
                    example: user123-2026-01-28
                    description: Computed seed used for this reading. Same seed always produces the same hexagram.
                  hexagram:
                    type: object
                    properties:
                      number:
                        type: number
                        example: 1
                        description: Hexagram number in King Wen sequence (1-64).
                      symbol:
                        type: string
                        example: ䷀
                        description: Unicode hexagram symbol for display.
                      chinese:
                        type: string
                        example: 乾
                        description: Original Chinese name.
                      english:
                        type: string
                        example: The Creative
                        description: English translation of the hexagram name.
                      pinyin:
                        type: string
                        example: Qián
                        description: Pinyin romanization with tone marks.
                      upperTrigram:
                        type: string
                        example: Heaven
                        description: Upper trigram (lines 4-6).
                      lowerTrigram:
                        type: string
                        example: Heaven
                        description: Lower trigram (lines 1-3).
                      judgment:
                        type: string
                        example: Pure creative force is available and it runs from origin to completion without obstruction, so the situation rewards initiative that stays correct and does not slacken. Success here is built by sustained effort held to a straight line, not by a single burst.
                        description: The Judgment (Tuan) text, the primary oracle statement of the hexagram offering core guidance.
                      image:
                        type: string
                        example: 'Heaven above heaven: the same motion repeated without pause and without fatigue. Renew your own strength on your own schedule rather than waiting to be driven by circumstances.'
                        description: The Image (Xiang) text, symbolic guidance derived from the trigram combination describing the ideal action.
                      interpretation:
                        type: object
                        properties:
                          general:
                            type: string
                            example: A time of great creative power and initiative. The universe supports bold action and forward movement. Success comes through strength of character and unwavering perseverance.
                            description: General life situation interpretation.
                          love:
                            type: string
                            example: A time of strong creative energy and passionate connection. Take the initiative in expressing your feelings, but avoid arrogance.
                            description: Love and relationship guidance.
                          career:
                            type: string
                            example: Exceptional opportunities for advancement and recognition await. Your creative ideas and leadership abilities are at their peak.
                            description: Career and professional interpretation.
                          decision:
                            type: string
                            example: The time is right for bold action. Trust your instincts and move forward with confidence.
                            description: Decision-making guidance for whether to act, wait, or change course.
                          advice:
                            type: string
                            example: 'Be like the heavens: consistent, powerful, and untiring. Make yourself strong through steady effort, not through force.'
                            description: Practical wisdom and actionable advice.
                        required:
                        - general
                        - love
                        - career
                        - decision
                        - advice
                        description: Modern interpretations across life areas based on ancient I-Ching wisdom.
                    required:
                    - number
                    - symbol
                    - chinese
                    - english
                    - pinyin
                    - upperTrigram
                    - lowerTrigram
                    - judgment
                    - image
                    - interpretation
                  dailyMessage:
                    type: string
                    example: 'Your hexagram for 2026-01-28: The Creative (乾). Be like the heavens: consistent, powerful, and untiring.'
                    description: Concise daily message summarizing the hexagram guidance
                required:
                - date
                - seed
                - hexagram
                - dailyMessage
        '400':
          description: Validation error. `issues[]` lists every failed field.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: First issue summary.
                  code:
                    type: string
                    enum:
                    - validation_error
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                  issues:
                    type: array
                    description: Every validation failure. Use this to rebuild a valid request.
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                          description: Dot-separated field path, or "(root)" for top-level.
                        message:
                          type: string
                        code:
                          type: string
                          description: Zod issue code (invalid_type, too_small, too_big, invalid_string, ...).
                        expected:
                          type: string
                          description: Expected type for invalid_type.
                        minimum:
                          description: Minimum bound for too_small issues.
                          oneOf:
                          - type: number
                          - type: string
                        maximum:
                          description: Maximum bound for too_big issues.
                          oneOf:
                          - type: number
                          - type: string
                        inclusive:
                          type: boolean
                        format:
                          type: string
                          description: Format name for string issues (regex, email, url, uuid).
                        pattern:
                          type: string
                          description: Regex pattern when format is regex.
                      required:
                      - path
                      - message
                required:
                - error
                - code
                - doc_url
                - issues
        '401':
          description: Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message. May change wording.
                  code:
                    type: string
                    description: Machine-readable error code. Stable identifier.
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                required:
                - error
                - code
                - doc_url
        '405':
          description: Method not allowed. The path exists but only responds to the methods listed in `allow[]` and the `Allow` response header.
          headers:
            Allow:
              description: Comma-separated list of allowed methods (RFC 9110).
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: string
                    enum:
                    - method_not_allowed
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                  allow:
                    type: array
                    items:
                      type: string
                    description: Allowed HTTP methods for this path. Mirrors the Allow response header.
                  docs:
                    type: string
                    description: Link to the product page for this domain.
                required:
                - error
                - code
                - doc_url
                - allow
        '429':
          description: Monthly rate limit exceeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message. May change wording.
                  code:
                    type: string
                    description: Machine-readable error code. Stable identifier.
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                required:
                - error
                - code
                - doc_url
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message. May change wording.
                  code:
                    type: string
                    description: Machine-readable error code. Stable identifier.
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                required:
                - error
                - code
                - doc_url
  /iching/daily/cast:
    post:
      operationId: castDailyReading
      tags:
      - I-Ching
      summary: Cast daily reading with changing lines - I-Ching divination API
      description: Cast a complete daily I-Ching reading using the traditional three-coin method with seeded randomness. Unlike the simple daily hexagram, this provides the full casting experience with line values (6-9), changing line positions, and the resulting hexagram if transformation occurs. Same seed + same date = same casting result. Perfect for I-Ching divination apps requiring authentic oracle experience with daily consistency.
      security:
      - apiKey: []
      parameters:
      - schema:
          type: string
          enum:
          - en
          - tr
          - de
          - es
          - hi
          - pt
          - fr
          - ru
          - zh-Hans
          - zh-Hant
          default: en
          example: en
          description: 'Response language (BCP 47). Supported: en, tr, de, es, hi, pt, fr, ru, zh-Hans, zh-Hant. Defaults to en. Coverage varies by domain, and a field with no translation in the requested language returns English.'
        required: false
        description: 'Response language (BCP 47). Supported: en, tr, de, es, hi, pt, fr, ru, zh-Hans, zh-Hant. Defaults to en. Coverage varies by domain, and a field with no translation in the requested language returns English.'
        name: lang
        in: query
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                seed:
                  type: string
                  example: user123
                  description: Optional seed for reproducible readings. Same seed + same date = same hexagram every time. Pass any unique identifier (userId, email hash, session token). Omit for anonymous daily readings.
                date:
                  type: string
                  format: date
                  example: '2026-03-06'
                  description: Date for the reading in YYYY-MM-DD format. Defaults to today (UTC). Useful for viewing past daily readings or pre-generating future ones.
      responses:
        '200':
          description: Complete daily casting with primary and resulting hexagrams
          content:
            application/json:
              schema:
                type: object
                properties:
                  date:
                    type: string
                    example: '2026-01-28'
                    description: Date this daily casting is for (YYYY-MM-DD, UTC).
                  seed:
                    type: string
                    example: user123-2026-01-28
                    description: Computed seed for reproducible castings.
                  hexagram:
                    type: object
                    properties:
                      number:
                        type: number
                        example: 1
                        description: Hexagram number in King Wen sequence (1-64).
                      symbol:
                        type: string
                        example: ䷀
                        description: Unicode hexagram symbol for display.
                      chinese:
                        type: string
                        example: 乾
                        description: Original Chinese name.
                      english:
                        type: string
                        example: The Creative
                        description: English translation of the hexagram name.
                      pinyin:
                        type: string
                        example: Qián
                        description: Pinyin romanization with tone marks.
                      upperTrigram:
                        type: string
                        example: Heaven
                        description: Upper trigram (lines 4-6).
                      lowerTrigram:
                        type: string
                        example: Heaven
                        description: Lower trigram (lines 1-3).
                      judgment:
                        type: string
                        example: Pure creative force is available and it runs from origin to completion without obstruction, so the situation rewards initiative that stays correct and does not slacken. Success here is built by sustained effort held to a straight line, not by a single burst.
                        description: The Judgment (Tuan) text, the primary oracle statement of the hexagram offering core guidance.
                      image:
                        type: string
                        example: 'Heaven above heaven: the same motion repeated without pause and without fatigue. Renew your own strength on your own schedule rather than waiting to be driven by circumstances.'
                        description: The Image (Xiang) text, symbolic guidance derived from the trigram combination describing the ideal action.
                      interpretation:
                        type: object
                        properties:
                          general:
                            type: string
                            example: A time of great creative power and initiative. The universe supports bold action and forward movement. Success comes through strength of character and unwavering perseverance.
                            description: General life situation interpretation.
                          love:
                            type: string
                            example: A time of strong creative energy and passionate connection. Take the initiative in expressing your feelings, but avoid arrogance.
                            description: Love and relationship guidance.
                          career:
                            type: string
                            example: Exceptional opportunities for advancement and recognition await. Your creative ideas and leadership abilities are at their peak.
                            description: Career and professional interpretation.
                          decision:
                            type: string
                            example: The time is right for bold action. Trust your instincts and move forward with confidence.
                            description: Decision-making guidance for whether to act, wait, or change course.
                          advice:
                            type: string
                            example: 'Be like the heavens: consistent, powerful, and untiring. Make yourself strong through steady effort, not through force.'
                            description: Practical wisdom and actionable advice.
                        required:
                        - general
                        - love
                        - career
                        - decision
                        - advice
                        description: Modern interpretations across life areas based on ancient I-Ching wisdom.
                      binary:
                        type: string
                        example: '111111'
                        description: Binary line pattern (6 digits, bottom to top). 1 = yang (solid line), 0 = yin (broken line). Lines 1-3 form the lower trigram, lines 4-6 form the upper trigram.
                      changingLines:
                        type: array
                        items:
                          $ref: '#/components/schemas/ChangingLine'
                        description: The oracle statement and meaning of each line that came up CHANGING, and only those. The changing lines are what the cast is actually about, so this saves a second call to read them and stops a consuming agent from having to invent them.
                    required:
                    - number
                    - symbol
                    - chinese
                    - english
                    - pinyin
                    - upperTrigram
                    - lowerTrigram
                    - judgment
                    - image
                    - interpretation
                    - binary
                  lines:
                    type: array
                    items:
                      type: number
                    example:
                    - 7
                    - 8
                    - 9
                    - 7
                    - 6
                    - 8
                    description: Line values (6-9) from bottom to top. 6=old yin (changing), 7=young yang, 8=young yin, 9=old yang (changing).
                  changingLinePositions:
                    type: array
                    items:
                      type: number
                    example:
                    - 3
                    - 5
                    description: Positions of changing lines (1-6, bottom to top). These lines transform yin to yang or vice versa.
                  changingLines:
                    type: array
                    items:
                      $ref: '#/components/schemas/ChangingLine'
                    description: The oracle statement and meaning of each line that came up CHANGING, and only those. The changing lines are what the cast is actually about, so this saves a second call to read them and stops a consuming agent from having to invent them.
                  resultingHexagram:
                    type: object
                    properties:
                      number:
                        type: number
                        example: 1
                        description: Hexagram number in King Wen sequence (1-64).
                      symbol:
                        type: string
                        example: ䷀
                        description: Unicode hexagram symbol for display.
                      chinese:
                        type: string
                        example: 乾
                        description: Original Chinese name.
                      english:
                        type: string
                        example: The Creative
                        description: English translation of the hexagram name.
                      pinyin:
                        type: string
                        example: Qián
                        description: Pinyin romanization with tone marks.
                      upperTrigram:
                        type: string
                        example: Heaven
                        description: Upper trigram (lines 4-6).
                      lowerTrigram:
                        type: string
                        example: Heaven
                        description: Lower trigram (lines 1-3).
                      judgment:
                        type: string
                        example: Pure creative force is available and it runs from origin to completion without obstruction, so the situation rewards initiative that stays correct and does not slacken. Success here is built by sustained effort held to a straight line, not by a single burst.
                        description: The Judgment (Tuan) text, the primary oracle statement of the hexagram offering core guidance.
                      image:
                        type: string
                        example: 'Heaven above heaven: the same motion repeated without pause and without fatigue. Renew your own strength on your own schedule rather than waiting to be driven by circumstances.'
                        description: The Image (Xiang) text, symbolic guidance derived from the trigram combination describing the ideal action.
                      interpretation:
                        type: object
                        properties:
                          general:
                            type: string
                            example: A time of great creative power and initiative. The universe supports bold action and forward movement. Success comes through strength of character and unwavering perseverance.
                            description: General life situation interpretation.
                          love:
                            type: string
                            example: A time of strong creative energy and passionate connection. Take the initiative in expressing your feelings, but avoid arrogance.
                            description: Love and relationship guidance.
                          career:
                            type: string
                            example: Exceptional opportunities for advancement and recognition await. Your creative ideas and leadership abilities are at their peak.
                            description: Career and professional interpretation.
                          decision:
                            type: string
                            example: The time is right for bold action. Trust your instincts and move forward with confidence.
                            description: Decision-making guidance for whether to act, wait, or change course.
                          advice:
                            type: string
                            example: 'Be like the heavens: consistent, powerful, and untiring. Make yourself strong through steady effort, not through force.'
                            description: Practical wisdom and actionable advice.
                        required:
                        - general
                        - love
                        - career
                        - decision
                        - advice
                        description: Modern interpretations across life areas based on ancient I-Ching wisdom.
                    required:
                    - number
                    - symbol
                    - chinese
                    - english
                    - pinyin
                    - upperTrigram
                    - lowerTrigram
                    - judgment
                    - image
                    - interpretation
                    description: Hexagram after transformation (if changing lines present)
                required:
                - date
                - seed
                - lines
                - changingLinePositions
        '400':
          description: Validation error. `issues[]` lists every failed field.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: First issue summary.
                  code:
                    type: string
                    enum:
                    - validation_error
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                  issues:
                    type: array
                    description: Every validation failure. Use this to rebuild a valid request.
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                          description: Dot-separated field path, or "(root)" for top-level.
                        message:
                          type: string
                        code:
                          type: string
                          description: Zod issue code (invalid_type, too_small, too_big, invalid_string, ...).
                        expected:
                          type: string
                          description: Expected type for invalid_type.
                        minimum:
                          description: Minimum bound for too_small issues.
                          oneOf:
                          - type: number
                          - type: string
                        maximum:
                          description: Maximum bound for too_big issues.
                          oneOf:
                          - type: number
                          - type: string
                        inclusive:
                          type: boolean
                        format:
                          type: string
                          description: Format name for string issues (regex, email, url, uuid).
                        pattern:
                          type: string
                          description: Regex pattern when format is regex.
                      required:
                      - path
                      - message
                required:
                - error
                - code
                - doc_url
                - issues
        '401':
          description: Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message. May change wording.
                  code:
                    type: string
                    description: Machine-readable error code. Stable identifier.
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                required:
                - error
                - code
                - doc_url
        '405':
          description: Method not allowed. The path exists but only responds to the methods listed in `allow[]` and the `Allow` response header.
          headers:
            Allow:
              description: Comma-separated list of allowed methods (RFC 9110).
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: string
                    enum:
                    - method_not_allowed
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                  allow:
                    type: array
                    items:
                      type: string
                    description: Allowed HTTP methods for this path. Mirrors the Allow response header.
                  docs:
                    type: string
                    description: Link to the product page for this domain.
                required:
                - error
                - code
                - doc_url
                - allow
        '429':
          description: Monthly rate limit exceeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message. May change wording.
                  code:
                    type: string
                    description: Machine-readable error code. Stable identifier.
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                required:
                - error
                - code
                - doc_url
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message. May change wording.
                  code:
                    type: string
                    description: Machine-readable error code. Stable identifier.
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                required:
                - error
                - code
                - doc_url
  /iching/hexagrams:
    get:
      operationId: listHexagrams
      tags:
      - I-Ching
      summary: List all 64 hexagrams - I-Ching hexagram catalog API
      description: Browse all 64 I-Ching hexagrams from the Book of Changes with their Chinese names, English translations, and trigram compositions. The hexagrams are ordered by the traditional King Wen sequence used in I-Ching divination for 3,000 years. Each hexagram represents a unique life situation combining two trigrams (Heaven, Earth, Thunder, Wind, Water, Fire, Mountain, Lake) into profound wisdom for decision-making and self-understanding.
      security:
      - apiKey: []
      parameters:
      - schema:
          type: string
          enum:
          - en
          - tr
          - de
          - es
          - hi
          - pt
          - fr
          - ru
          - zh-Hans
          - zh-Hant
          default: en
          example: en
          description: 'Response language (BCP 47). Supported: en, tr, de, es, hi, pt, fr, ru, zh-Hans, zh-Hant. Defaults to en. Coverage varies by domain, and a field with no translation in the requested language returns English.'
        required: false
        description: 'Response language (BCP 47). Supported: en, tr, de, es, hi, pt, fr, ru, zh-Hans, zh-Hant. Defaults to en. Coverage varies by domain, and a field with no translation in the requested language returns English.'
        name: lang
        in: query
      - schema:
          type: integer
          minimum: 1
          maximum: 64
          default: 20
          example: 20
          description: 'Maximum items to return per page. Range: 1-64, default 20.'
        required: false
        description: 'Maximum items to return per page. Range: 1-64, default 20.'
        name: limit
        in: query
      - schema:
          type: integer
          minimum: 0
          default: 0
          example: 0
          description: Number of items to skip for pagination. Default 0.
        required: false
        description: Number of items to skip for pagination. Default 0.
        name: offset
        in: query
      responses:
        '200':
          description: List of hexagrams with basic information.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: number
                    example: 64
                    description: Total number of I-Ching hexagrams (always 64).
                  limit:
                    type: number
                    example: 20
                    description: Page size used for this response.
                  offset:
                    type: number
                    example: 0
                    description: Number of hexagrams skipped. Use with limit for pagination.
                  hexagrams:
                    type: array
                    items:
                      $ref: '#/components/schemas/BasicHexagram'
                    description: Hexagrams for the current page. Use /hexagrams/{number} for full details.
                required:
                - total
                - limit
                - offset
                - hexagrams
        '400':
          description: Validation error. `issues[]` lists every failed field.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: First issue summary.
                  code:
                    type: string
                    enum:
                    - validation_error
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                  issues:
                    type: array
                    description: Every validation failure. Use this to rebuild a valid request.
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                          description: Dot-separated field path, or "(root)" for top-level.
                        message:
                          type: string
                        code:
                          type: string
                          description: Zod issue code (invalid_type, too_small, too_big, invalid_string, ...).
                        expected:
                          type: string
                          description: Expected type for invalid_type.
                        minimum:
                          description: Minimum bound for too_small issues.
                          oneOf:
                          - type: number
                          - type: string
                        maximum:
                          description: Maximum bound for too_big issues.
                          oneOf:
                          - type: number
                          - type: string
                        inclusive:
                          type: boolean
                        format:
                          type: string
                          description: Format name for string issues (regex, email, url, uuid).
                        pattern:
                          type: string
                          description: Regex pattern when format is regex.
                      required:
                      - path
                      - message
                required:
                - error
                - code
                - doc_url
                - issues
        '401':
          description: Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message. May change wording.
                  code:
                    type: string
                    description: Machine-readable error code. Stable identifier.
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                required:
                - error
                - code
                - doc_url
        '405':
          description: Method not allowed. The path exists but only responds to the methods listed in `allow[]` and the `Allow` response header.
          headers:
            Allow:
              description: Comma-separated list of allowed methods (RFC 9110).
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: string
                    enum:
                    - method_not_allowed
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                  allow:
                    type: array
                    items:
                      type: string
                    description: Allowed HTTP methods for this path. Mirrors the Allow response header.
                  docs:
                    type: string
                    description: Link to the product page for this domain.
                required:
                - error
                - code
                - doc_url
                - allow
        '429':
          description: Monthly rate limit exceeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message. May change wording.
                  code:
                    type: string
                    description: Machine-readable error code. Stable identifier.
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                required:
                - error
                - code
                - doc_url
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message. May change wording.
                  code:
                    type: string
                    description: Machine-readable error code. Stable identifier.
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                required:
                - error
                - code
                - doc_url
  /iching/hexagrams/random:
    get:
      operationId: getRandomHexagram
      tags:
      - I-Ching
      summary: Random hexagram - I-Ching hexagram picker API
      description: Receive a random I-Ching hexagram with full interpretation. Perfect for daily oracle features, meditation prompts, or exploring the Book of Changes. Returns complete hexagram data including judgment, image, interpretations for love/career/decisions, and all six changing line meanings.
      security:
      - apiKey: []
      parameters:
      - schema:
          type: string
          enum:
          - en
          - tr
          - de
          - es
          - hi
          - pt
          - fr
          - ru
          - zh-Hans
          - zh-Hant
          default: en
          example: en
          description: 'Response language (BCP 47). Supported: en, tr, de, es, hi, pt, fr, ru, zh-Hans, zh-Hant. Defaults to en. Coverage varies by domain, and a field with no translation in the requested language returns English.'
        required: false
        description: 'Response language (BCP 47). Supported: en, tr, de, es, hi, pt, fr, ru, zh-Hans, zh-Hant. Defaults to en. Coverage varies by domain, and a field with no translation in the requested language returns English.'
        name: lang
        in: query
      responses:
        '200':
          description: A random hexagram with full details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hexagram'
        '400':
          description: Validation error. `issues[]` lists every failed field.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: First issue summary.
                  code:
                    type: string
                    enum:
                    - validation_error
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                  issues:
                    type: array
                    description: Every validation failure. Use this to rebuild a valid request.
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                          description: Dot-separated field path, or "(root)" for top-level.
                        message:
                          type: string
                        code:
                          type: string
                          description: Zod issue code (invalid_type, too_small, too_big, invalid_string, ...).
                        expected:
                          type: string
                          description: Expected type for invalid_type.
                        minimum:
                          description: Minimum bound for too_small issues.
                          oneOf:
                          - type: number
                          - type: string
                        maximum:
                          description: Maximum bound for too_big issues.
                          oneOf:
                          - type: number
                          - type: string
                        inclusive:
                          type: boolean
                        format:
                          type: string
                          description: Format name for string issues (regex, email, url, uuid).
                        pattern:
                          type: string
                          description: Regex pattern when format is regex.
                      required:
                      - path
                      - message
                required:
                - error
                - code
                - doc_url
                - issues
        '401':
          description: Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message. May change wording.
                  code:
                    type: string
                    description: Machine-readable error code. Stable identifier.
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                required:
                - error
                - code
                - doc_url
        '404':
          description: No hexagrams available.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Resource not found
                    description: Human-readable error message. The wording may change, so do not parse it programmatically. Switch on the stable code instead.
                  code:
                    type: string
                    example: not_found
                    description: Machine-readable error code. Stable identifier for programmatic error handling.
                  doc_url:
                    type: string
                    example: https://roxyapi.com/docs/errors#not_found
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself. The same URL in every environment, so it is safe to log, print in a CLI, or paste into a bug report.
                required:
                - error
                - code
                - doc_url
        '405':
          description: Method not allowed. The path exists but only responds to the methods listed in `allow[]` and the `Allow` response header.
          headers:
            Allow:
              description: Comma-separated list of allowed methods (RFC 9110).
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: string
                    enum:
                    - method_not_allowed
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                  allow:
                    type: array
                    items:
                      type: string
                    description: Allowed HTTP methods for this path. Mirrors the Allow response header.
                  docs:
                    type: string
                    description: Link to the product page for this domain.
                required:
                - error
                - code
                - doc_url
                - allow
        '429':
          description: Monthly rate limit exceeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message. May change wording.
                  code:
                    type: string
                    description: Machine-readable error code. Stable identifier.
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                required:
                - error
                - code
                - doc_url
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message. May change wording.
                  code:
                    type: string
                    description: Machine-readable error code. Stable identifier.
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                required:
                - error
                - code
                - doc_url
  /iching/hexagrams/lookup:
    get:
      operationId: lookupHexagram
      tags:
      - I-Ching
      summary: Lookup hexagram by line pattern - I-Ching binary lookup API
      description: 'Find an I-Ching hexagram by its binary line pattern. Provide 6 digits (0 or 1) representing broken (yin) and solid (yang) lines from bottom to top. Use this for custom divination interfaces where users input their own line configurations, or to find hexagrams matching specific trigram combinations. Example: "111111" returns Hexagram 1 (The Creative), "000000" returns Hexagram 2 (The Receptive).'
      security:
      - apiKey: []
      parameters:
      - schema:
          type: string
          enum:
          - en
          - tr
          - de
          - es
          - hi
          - pt
          - fr
          - ru
          - zh-Hans
          - zh-Hant
          default: en
          example: en
          description: 'Response language (BCP 47). Supported: en, tr, de, es, hi, pt, fr, ru, zh-Hans, zh-Hant. Defaults to en. Coverage varies by domain, and a field with no translation in the requested language returns English.'
        required: false
        description: 'Response language (BCP 47). Supported: en, tr, de, es, hi, pt, fr, ru, zh-Hans, zh-Hant. Defaults to en. Coverage varies by domain, and a field with no translation in the requested language returns English.'
        name: lang
        in: query
      - schema:
          type: string
          pattern: ^[01]{6}$
          example: '111111'
          description: Six-digit binary pattern (0=yin/broken, 1=yang/solid) from bottom to top.
        required: true
        description: Six-digit binary pattern (0=yin/broken, 1=yang/solid) from bottom to top.
        name: lines
        in: query
      responses:
        '200':
          description: Matching hexagram.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hexagram'
        '400':
          description: Validation error. `issues[]` lists every failed field.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: First issue summary.
                  code:
                    type: string
                    enum:
                    - validation_error
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                  issues:
                    type: array
                    description: Every validation failure. Use this to rebuild a valid request.
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                          description: Dot-separated field path, or "(root)" for top-level.
                        message:
                          type: string
                        code:
                          type: string
                          description: Zod issue code (invalid_type, too_small, too_big, invalid_string, ...).
                        expected:
                          type: string
                          description: Expected type for invalid_type.
                        minimum:
                          description: Minimum bound for too_small issues.
                          oneOf:
                          - type: number
                          - type: string
                        maximum:
                          description: Maximum bound for too_big issues.
                          oneOf:
                          - type: number
                          - type: string
                        inclusive:
                          type: boolean
                        format:
                          type: string
                          description: Format name for string issues (regex, email, url, uuid).
                        pattern:
                          type: string
                          description: Regex pattern when format is regex.
                      required:
                      - path
                      - message
                required:
                - error
                - code
                - doc_url
                - issues
        '401':
          description: Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message. May change wording.
                  code:
                    type: string
                    description: Machine-readable error code. Stable identifier.
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                required:
                - error
                - code
                - doc_url
        '404':
          description: No hexagram found for pattern.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Resource not found
                    description: Human-readable error message. The wording may change, so do not parse it programmatically. Switch on the stable code instead.
                  code:
                    type: string
                    example: not_found
                    description: Machine-readable error code. Stable identifier for programmatic error handling.
                  doc_url:
                    type: string
                    example: https://roxyapi.com/docs/errors#not_found
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself. The same URL in every environment, so it is safe to log, print in a CLI, or paste into a bug report.
                required:
                - error
                - code
                - doc_url
        '405':
          description: Method not allowed. The path exists but only responds to the methods listed in `allow[]` and the `Allow` response header.
          headers:
            Allow:
              description: Comma-separated list of allowed methods (RFC 9110).
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: string
                    enum:
                    - method_not_allowed
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                  allow:
                    type: array
                    items:
                      type: string
                    description: Allowed HTTP methods for this path. Mirrors the Allow response header.
                  docs:
                    type: string
                    description: Link to the product page for this domain.
                required:
                - error
                - code
                - doc_url
                - allow
        '429':
          description: Monthly rate limit exceeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message. May change wording.
                  code:
                    type: string
                    description: Machine-readable error code. Stable identifier.
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                required:
                - error
                - code
                - doc_url
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message. May change wording.
                  code:
                    type: string
                    description: Machine-readable error code. Stable identifier.
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                required:
                - error
                - code
                - doc_url
  /iching/hexagrams/{number}:
    get:
      operationId: getHexagram
      tags:
      - I-Ching
      summary: Get hexagram by number - I-Ching hexagram detail API
      description: Retrieve complete I-Ching hexagram details by King Wen sequence number (1-64). Returns the full hexagram with Chinese name, English translation, judgment text, image text, modern interpretations for general situations, love, career, and decision-making, plus all six changing line meanings. Use this to display detailed hexagram information after casting or for educational reference.
      security:
      - apiKey: []
      parameters:
      - schema:
          type: integer
          minimum: 1
          maximum: 64
          example: 1
          description: Hexagram number in King Wen sequence (1-64).
        required: true
        description: Hexagram number in King Wen sequence (1-64).
        name: number
        in: path
      - schema:
          type: string
          enum:
          - en
          - tr
          - de
          - es
          - hi
          - pt
          - fr
          - ru
          - zh-Hans
          - zh-Hant
          default: en
          example: en
          description: 'Response language (BCP 47). Supported: en, tr, de, es, hi, pt, fr, ru, zh-Hans, zh-Hant. Defaults to en. Coverage varies by domain, and a field with no translation in the requested language returns English.'
        required: false
        description: 'Response language (BCP 47). Supported: en, tr, de, es, hi, pt, fr, ru, zh-Hans, zh-Hant. Defaults to en. Coverage varies by domain, and a field with no translation in the requested language returns English.'
        name: lang
        in: query
      responses:
        '200':
          description: Full hexagram details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hexagram'
        '400':
          description: Validation error. `issues[]` lists every failed field.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: First issue summary.
                  code:
                    type: string
                    enum:
                    - validation_error
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                  issues:
                    type: array
                    description: Every validation failure. Use this to rebuild a valid request.
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                          description: Dot-separated field path, or "(root)" for top-level.
                        message:
                          type: string
                        code:
                          type: string
                          description: Zod issue code (invalid_type, too_small, too_big, invalid_string, ...).
                        expected:
                          type: string
                          description: Expected type for invalid_type.
                        minimum:
                          description: Minimum bound for too_small issues.
                          oneOf:
                          - type: number
                          - type: string
                        maximum:
                          description: Maximum bound for too_big issues.
                          oneOf:
                          - type: number
                          - type: string
                        inclusive:
                          type: boolean
                        format:
                          type: string
                          description: Format name for string issues (regex, email, url, uuid).
                        pattern:
                          type: string
                          description: Regex pattern when format is regex.
                      required:
                      - path
                      - message
                required:
                - error
                - code
                - doc_url
                - issues
        '401':
          description: Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message. May change wording.
                  code:
                    type: string
                    description: Machine-readable error code. Stable identifier.
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                required:
                - error
                - code
                - doc_url
        '404':
          description: Hexagram not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Resource not found
                    description: Human-readable error message. The wording may change, so do not parse it programmatically. Switch on the stable code instead.
                  code:
                    type: string
                    example: not_found
                    description: Machine-readable error code. Stable identifier for programmatic error handling.
                  doc_url:
                    type: string
                    example: https://roxyapi.com/docs/errors#not_found
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself. The same URL in every environment, so it is safe to log, print in a CLI, or paste into a bug report.
                required:
                - error
                - code
                - doc_url
        '405':
          description: Method not allowed. The path exists but only responds to the methods listed in `allow[]` and the `Allow` response header.
          headers:
            Allow:
              description: Comma-separated list of allowed methods (RFC 9110).
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: string
                    enum:
                    - method_not_allowed
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                  allow:
                    type: array
                    items:
                      type: string
                    description: Allowed HTTP methods for this path. Mirrors the Allow response header.
                  docs:
                    type: string
                    description: Link to the product page for this domain.
                required:
                - error
                - code
                - doc_url
                - allow
        '429':
          description: Monthly rate limit exceeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message. May change wording.
                  code:
                    type: string
                    description: Machine-readable error code. Stable identifier.
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                required:
                - error
                - code
                - doc_url
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message. May change wording.
                  code:
                    type: string
                    description: Machine-readable error code. Stable identifier.
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                required:
                - error
                - code
                - doc_url
  /iching/cast:
    get:
      operationId: castReading
      tags:
      - I-Ching
      summary: Cast an I-Ching reading - Hexagram divination API
      description: Generate an authentic I-Ching reading using the traditional three-coin casting method. Each of the six lines is determined by virtually tossing three coins, producing values 6-9 where 6 (old yin) and 9 (old yang) are changing lines. Returns the primary hexagram with full interpretation, the line values showing which lines are changing, and if any lines change, the resulting hexagram that the primary transforms into. Optionally provide a seed for reproducible castings. Perfect for divination apps, oracle features, and decision-making tools.
      security:
      - apiKey: []
      parameters:
      - schema:
          type: string
          enum:
          - en
          - tr
          - de
          - es
          - hi
          - pt
          - fr
          - ru
          - zh-Hans
          - zh-Hant
          default: en
          example: en
          description: 'Response language (BCP 47). Supported: en, tr, de, es, hi, pt, fr, ru, zh-Hans, zh-Hant. Defaults to en. Coverage varies by domain, and a field with no translation in the requested language returns English.'
        required: false
        description: 'Response language (BCP 47). Supported: en, tr, de, es, hi, pt, fr, ru, zh-Hans, zh-Hant. Defaults to en. Coverage varies by domain, and a field with no translation in the requested language returns English.'
        name: lang
        in: query
      - schema:
          type: string
          example: user123-question1
          description: Optional seed for reproducible castings. Same seed = same casting every time. Pass any unique identifier (userId, session token, question hash). Omit for random casting.
        required: false
        description: Optional seed for reproducible castings. Same seed = same casting every time. Pass any unique identifier (userId, session token, question hash). Omit for random casting.
        name: seed
        in: query
      responses:
        '200':
          description: Complete I-Ching reading with primary and resulting hexagrams.
          content:
            application/json:
              schema:
                type: object
                properties:
                  seed:
                    type: string
                    example: user123-question1
                    description: The seed used for this casting (if provided)
                  hexagram:
                    allOf:
                    - $ref: '#/components/schemas/Hexagram'
                    - description: Primary hexagram from the casting
                  lines:
                    type: array
                    items:
                      type: number
                    example:
                    - 7
                    - 8
                    - 9
                    - 7
                    - 6
                    - 8
                    description: Line values (6-9) from bottom to top. 6=old yin (changing), 7=young yang, 8=young yin, 9=old yang (changing)
                  changingLinePositions:
                    type: array
                    items:
                      type: number
                    example:
                    - 3
                    - 5
                    description: Positions of changing lines (1-6, bottom to top)
                  resultingHexagram:
                    allOf:
                    - $ref: '#/components/schemas/Hexagram'
                    - description: Hexagram the primary transforms into after changing lines (present only if there are changing lines)
                required:
                - lines
                - changingLinePositions
        '400':
          description: Validation error. `issues[]` lists every failed field.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: First issue summary.
                  code:
                    type: string
                    enum:
                    - validation_error
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                  issues:
                    type: array
                    description: Every validation failure. Use this to rebuild a valid request.
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                          description: Dot-separated field path, or "(root)" for top-level.
                        message:
                          type: string
                        code:
                          type: string
                          description: Zod issue code (invalid_type, too_small, too_big, invalid_string, ...).
                        expected:
                          type: string
                          description: Expected type for invalid_type.
                        minimum:
                          description: Minimum bound for too_small issues.
                          oneOf:
                          - type: number
                          - type: string
                        maximum:
                          description: Maximum bound for too_big issues.
                          oneOf:
                          - type: number
                          - type: string
                        inclusive:
                          type: boolean
                        format:
                          type: string
                          description: Format name for string issues (regex, email, url, uuid).
                        pattern:
                          type: string
                          description: Regex pattern when format is regex.
                      required:
                      - path
                      - message
                required:
                - error
                - code
                - doc_url
                - issues
        '401':
          description: Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message. May change wording.
                  code:
                    type: string
                    description: Machine-readable error code. Stable identifier.
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                required:
                - error
                - code
                - doc_url
        '405':
          description: Method not allowed. The path exists but only responds to the methods listed in `allow[]` and the `Allow` response header.
          headers:
            Allow:
              description: Comma-separated list of allowed methods (RFC 9110).
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: string
                    enum:
                    - method_not_allowed
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                  allow:
                    type: array
                    items:
                      type: string
                    description: Allowed HTTP methods for this path. Mirrors the Allow response header.
                  docs:
                    type: string
                    description: Link to the product page for this domain.
                required:
                - error
                - code
                - doc_url
                - allow
        '429':
          description: Monthly rate limit exceeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message. May change wording.
                  code:
                    type: string
                    description: Machine-readable error code. Stable identifier.
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                required:
                - error
                - code
                - doc_url
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message. May change wording.
                  code:
                    type: string
                    description: Machine-readable error code. Stable identifier.
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                required:
                - error
                - code
                - doc_url
  /iching/trigrams:
    get:
      operationId: listTrigrams
      tags:
      - I-Ching
      summary: List all 8 trigrams - Bagua trigram catalog API
      description: 'Retrieve all 8 I-Ching trigrams (bagua), the fundamental building blocks of hexagrams. Each trigram consists of three lines and represents a primal force of nature: Heaven (Qian), Earth (Kun), Thunder (Zhen), Wind (Xun), Water (Kan), Fire (Li), Mountain (Gen), and Lake (Dui). Understanding trigrams is essential for interpreting hexagram meanings, as each hexagram combines an upper and lower trigram.'
      security:
      - apiKey: []
      parameters:
      - schema:
          type: string
          enum:
          - en
          - tr
          - de
          - es
          - hi
          - pt
          - fr
          - ru
          - zh-Hans
          - zh-Hant
          default: en
          example: en
          description: 'Response language (BCP 47). Supported: en, tr, de, es, hi, pt, fr, ru, zh-Hans, zh-Hant. Defaults to en. Coverage varies by domain, and a field with no translation in the requested language returns English.'
        required: false
        description: 'Response language (BCP 47). Supported: en, tr, de, es, hi, pt, fr, ru, zh-Hans, zh-Hant. Defaults to en. Coverage varies by domain, and a field with no translation in the requested language returns English.'
        name: lang
        in: query
      responses:
        '200':
          description: List of all 8 trigrams with basic information.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: number
                    example: 8
                    description: Total number of I-Ching trigrams (always 8).
                  trigrams:
                    type: array
                    items:
                      $ref: '#/components/schemas/BasicTrigram'
                    description: All 8 trigrams (bagua) with basic details.
                required:
                - total
                - trigrams
        '400':
          description: Validation error. `issues[]` lists every failed field.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: First issue summary.
                  code:
                    type: string
                    enum:
                    - validation_error
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                  issues:
                    type: array
                    description: Every validation failure. Use this to rebuild a valid request.
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                          description: Dot-separated field path, or "(root)" for top-level.
                        message:
                          type: string
                        code:
                          type: string
                          description: Zod issue code (invalid_type, too_small, too_big, invalid_string, ...).
                        expected:
                          type: string
                          description: Expected type for invalid_type.
                        minimum:
                          description: Minimum bound for too_small issues.
                          oneOf:
                          - type: number
                          - type: string
                        maximum:
                          description: Maximum bound for too_big issues.
                          oneOf:
                          - type: number
                          - type: string
                        inclusive:
                          type: boolean
                        format:
                          type: string
                          description: Format name for string issues (regex, email, url, uuid).
                        pattern:
                          type: string
                          description: Regex pattern when format is regex.
                      required:
                      - path
                      - message
                required:
                - error
                - code
                - doc_url
                - issues
        '401':
          description: Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message. May change wording.
                  code:
                    type: string
                    description: Machine-readable error code. Stable identifier.
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                required:
                - error
                - code
                - doc_url
        '405':
          description: Method not allowed. The path exists but only responds to the methods listed in `allow[]` and the `Allow` response header.
          headers:
            Allow:
              description: Comma-separated list of allowed methods (RFC 9110).
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: string
                    enum:
                    - method_not_allowed
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                  allow:
                    type: array
                    items:
                      type: string
                    description: Allowed HTTP methods for this path. Mirrors the Allow response header.
                  docs:
                    type: string
                    description: Link to the product page for this domain.
                required:
                - error
                - code
                - doc_url
                - allow
        '429':
          description: Monthly rate limit exceeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message. May change wording.
                  code:
                    type: string
                    description: Machine-readable error code. Stable identifier.
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                required:
                - error
                - code
                - doc_url
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message. May change wording.
                  code:
                    type: string
                    description: Machine-readable error code. Stable identifier.
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                required:
                - error
                - code
                - doc_url
  /iching/trigrams/{id}:
    get:
      operationId: getTrigram
      tags:
      - I-Ching
      summary: Get trigram by number or name - Bagua trigram detail API
      description: Retrieve a specific I-Ching trigram by its number (1-8) or English name (Heaven, Earth, Thunder, Wind, Water, Fire, Mountain, Lake). Returns complete trigram information including Chinese name, pinyin, element associations, core attributes, and symbolic meaning. Use this to understand the component trigrams of any hexagram.
      security:
      - apiKey: []
      parameters:
      - schema:
          type: string
          example: Heaven
          description: Trigram number (1-8) or English name (Heaven, Earth, Thunder, Wind, Water, Fire, Mountain, Lake).
        required: true
        description: Trigram number (1-8) or English name (Heaven, Earth, Thunder, Wind, Water, Fire, Mountain, Lake).
        name: id
        in: path
      - schema:
          type: string
          enum:
          - en
          - tr
          - de
          - es
          - hi
          - pt
          - fr
          - ru
          - zh-Hans
          - zh-Hant
          default: en
          example: en
          description: 'Response language (BCP 47). Supported: en, tr, de, es, hi, pt, fr, ru, zh-Hans, zh-Hant. Defaults to en. Coverage varies by domain, and a field with no translation in the requested language returns English.'
        required: false
        description: 'Response language (BCP 47). Supported: en, tr, de, es, hi, pt, fr, ru, zh-Hans, zh-Hant. Defaults to en. Coverage varies by domain, and a field with no translation in the requested language returns English.'
        name: lang
        in: query
      responses:
        '200':
          description: Trigram details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Trigram'
        '400':
          description: Validation error. `issues[]` lists every failed field.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: First issue summary.
                  code:
                    type: string
                    enum:
                    - validation_error
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                  issues:
                    type: array
                    description: Every validation failure. Use this to rebuild a valid request.
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                          description: Dot-separated field path, or "(root)" for top-level.
                        message:
                          type: string
                        code:
                          type: string
                          description: Zod issue code (invalid_type, too_small, too_big, invalid_string, ...).
                        expected:
                          type: string
                          description: Expected type for invalid_type.
                        minimum:
                          description: Minimum bound for too_small issues.
                          oneOf:
                          - type: number
                          - type: string
                        maximum:
                          description: Maximum bound for too_big issues.
                          oneOf:
                          - type: number
                          - type: string
                        inclusive:
                          type: boolean
                        format:
                          type: string
                          description: Format name for string issues (regex, email, url, uuid).
                        pattern:
                          type: string
                          description: Regex pattern when format is regex.
                      required:
                      - path
                      - message
                required:
                - error
                - code
                - doc_url
                - issues
        '401':
          description: Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
[...]
