openapi: 3.2.0
info:
  title: Roxy Dreams API
  version: 2.0.0
  description: '# RoxyAPI: the Spiritual OS layer for agentic AI


    > **Base URL:** `https://roxyapi.com/api/v2`.'
  x-error-codes:
  - code: validation_error
    status: 400
    meaning: A field is missing or invalid. The body lists every failing field at once in issues, each with its path and the expected shape.
  - code: bad_request
    status: 400
    meaning: The request was rejected as a whole, for example a body that is not valid JSON or a date range that ends before it starts.
  - code: date_out_of_range
    status: 400
    meaning: A date lies outside the span the planetary positions are served for. The error names the supported dates.
  - code: api_key_required
    status: 401
    meaning: No API key was sent.
  - code: invalid_api_key
    status: 401
    meaning: The key sent is malformed or cannot be verified.
  - code: api_key_revoked
    status: 401
    meaning: The key was valid once and has since been revoked from the account page.
  - code: subscription_not_found
    status: 401
    meaning: The key verifies, but the subscription behind it no longer exists.
  - code: subscription_inactive
    status: 401
    meaning: The subscription behind the key is cancelled, expired or suspended, or a trial is past its end date.
  - code: publishable_key_not_allowed_on_mcp
    status: 401
    meaning: A publishable key was used on a Remote MCP server, which takes a secret key.
  - code: invalid_client_ip
    status: 401
    meaning: A keyless request could not be attributed to a caller.
  - code: unauthorized
    status: 401
    meaning: Authentication failed with no more specific reason to give.
  - code: forbidden
    status: 403
    meaning: The key is valid, but this request is not permitted.
  - code: origin_required
    status: 403
    meaning: A publishable key with an origin allowlist was used with no Origin header, as from a server or a native app.
  - code: origin_not_allowed
    status: 403
    meaning: The calling site is not on the origin allowlist of this publishable key.
  - code: not_found
    status: 404
    meaning: Nothing is served at this path, or the identifier in it does not exist. A path miss adds suggestions, the closest real endpoints.
  - code: method_not_allowed
    status: 405
    meaning: The path exists for a different HTTP method. The body lists the accepted methods in allow, as does the Allow header.
  - code: conflict
    status: 409
    meaning: The request cannot be applied in the current state.
  - code: gone
    status: 410
    meaning: The path was removed permanently.
  - code: payload_too_large
    status: 413
    meaning: The request body is larger than the API accepts.
  - code: unsupported_media_type
    status: 415
    meaning: 'A request with a body was sent without Content-Type: application/json.'
  - code: unprocessable_entity
    status: 422
    meaning: Every field is valid, but the combination cannot be computed.
  - code: rate_limit_exceeded
    status: 429
    meaning: The monthly request allowance is used up. Retry-After gives the seconds to the reset.
  - code: rate_limit_per_minute
    status: 429
    meaning: The per-minute limit of the plan was reached. Retry-After gives the seconds to the next minute, and the monthly allowance is not charged.
  - code: rate_limited
    status: 429
    meaning: A rate limit was reached, reported without the plan detail.
  - code: free_tier_exhausted
    status: 429
    meaning: A keyless request has used up its trial allowance.
  - code: internal_error
    status: 500
    meaning: The request failed inside our service. Retry with exponential backoff.
  - code: compute_saturated
    status: 503
    meaning: Heavy calculations are briefly at capacity. Send the same request again after Retry-After seconds.
  - code: error
    status: null
    meaning: A fallback for a status with no more specific code. The status and the error field carry the signal.
  contact:
    name: RoxyAPI Support
    url: https://roxyapi.com/contact
  license:
    name: Proprietary
    url: https://roxyapi.com/policy/terms
servers:
- url: https://roxyapi.com/api/v2
  description: Production API v2
security:
- apiKey: []
tags:
- name: Dreams
  description: Dream interpretation API with a 2,000+ symbol dream dictionary and psychological meanings covering animals, objects, emotions, people, scenarios, and abstract concepts. Decode dreams about falling, flying, teeth falling out, being chased, water, snakes, and more. Search, browse A-Z, or discover random symbols. Build dream journal apps, AI dream analysis chatbots, sleep-tracking features, and wellness platforms. One key covers every RoxyAPI domain, with Remote MCP and typed SDKs.
paths:
  /dreams/symbols:
    get:
      operationId: searchDreamSymbols
      tags:
      - Dreams
      summary: List and search dream symbols - Dream dictionary API
      description: Browse and search our complete dream interpretation dictionary containing 2,000+ dream symbols with psychological meanings. Find dream meanings for animals (snake dreams, spider dreams, dog dreams), common scenarios (falling dreams, flying dreams, being chased, drowning), people (dreams about mother, father, baby, ex), objects (car, house, water, fire), emotions (fear, anxiety, love), body parts (teeth falling out, hair, eyes), colors, numbers, and abstract concepts. Filter by starting letter for A-Z navigation or search by keyword to find what your dreams mean.
      security:
      - apiKey: []
      parameters:
      - schema:
          type: string
          minLength: 1
          maxLength: 100
          example: water
          description: Search query to match against symbol names and meanings. Case-insensitive.
        required: false
        description: Search query to match against symbol names and meanings. Case-insensitive.
        name: q
        in: query
      - schema:
          type: string
          minLength: 1
          maxLength: 1
          example: a
          description: Filter symbols by starting letter (a-z). Case-insensitive.
        required: false
        description: Filter symbols by starting letter (a-z). Case-insensitive.
        name: letter
        in: query
      - schema:
          type: integer
          minimum: 1
          maximum: 50
          default: 20
          example: 20
          description: 'Maximum items to return per page. Range: 1-50, default 20.'
        required: false
        description: 'Maximum items to return per page. Range: 1-50, default 20.'
        name: limit
        in: query
      - schema:
          type: integer
          minimum: 0
          default: 0
          example: 0
          description: Number of items to skip for pagination. Default 0.
        required: false
        description: Number of items to skip for pagination. Default 0.
        name: offset
        in: query
      responses:
        '200':
          description: Paginated list of dream symbols with basic information.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: number
                    example: 2526
                    description: Total number of dream symbols matching your search or filter criteria.
                  limit:
                    type: number
                    example: 50
                    description: Page size used for this response.
                  offset:
                    type: number
                    example: 0
                    description: Number of symbols skipped. Use with limit for pagination.
                  symbols:
                    type: array
                    items:
                      $ref: '#/components/schemas/BasicDreamSymbol'
                    description: Dream symbols for the current page. Use /symbols/{id} to get full interpretation.
                required:
                - total
                - limit
                - offset
                - symbols
        '400':
          description: Validation error. `issues[]` lists every failed field.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: First issue summary.
                  code:
                    type: string
                    enum:
                    - validation_error
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                  issues:
                    type: array
                    description: Every validation failure. Use this to rebuild a valid request.
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                          description: Dot-separated field path, or "(root)" for top-level.
                        message:
                          type: string
                        code:
                          type: string
                          description: Zod issue code (invalid_type, too_small, too_big, invalid_string, ...).
                        expected:
                          type: string
                          description: Expected type for invalid_type.
                        minimum:
                          description: Minimum bound for too_small issues.
                          oneOf:
                          - type: number
                          - type: string
                        maximum:
                          description: Maximum bound for too_big issues.
                          oneOf:
                          - type: number
                          - type: string
                        inclusive:
                          type: boolean
                        format:
                          type: string
                          description: Format name for string issues (regex, email, url, uuid).
                        pattern:
                          type: string
                          description: Regex pattern when format is regex.
                      required:
                      - path
                      - message
                required:
                - error
                - code
                - doc_url
                - issues
        '401':
          description: Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message. May change wording.
                  code:
                    type: string
                    description: Machine-readable error code. Stable identifier.
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                required:
                - error
                - code
                - doc_url
        '405':
          description: Method not allowed. The path exists but only responds to the methods listed in `allow[]` and the `Allow` response header.
          headers:
            Allow:
              description: Comma-separated list of allowed methods (RFC 9110).
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: string
                    enum:
                    - method_not_allowed
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                  allow:
                    type: array
                    items:
                      type: string
                    description: Allowed HTTP methods for this path. Mirrors the Allow response header.
                  docs:
                    type: string
                    description: Link to the product page for this domain.
                required:
                - error
                - code
                - doc_url
                - allow
        '429':
          description: Monthly rate limit exceeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message. May change wording.
                  code:
                    type: string
                    description: Machine-readable error code. Stable identifier.
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                required:
                - error
                - code
                - doc_url
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message. May change wording.
                  code:
                    type: string
                    description: Machine-readable error code. Stable identifier.
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                required:
                - error
                - code
                - doc_url
  /dreams/symbols/random:
    get:
      operationId: getRandomSymbols
      tags:
      - Dreams
      summary: Random dream symbols - Dream symbol discovery API
      description: Discover random dream symbols and their interpretations for daily dream insights and exploration. Each request returns different symbols from the 2,000+ dream meaning database, perfect for dream of the day features, dream journaling prompts, meditation on subconscious themes, or exploring what different dreams mean. Get one or multiple random dream interpretations with full psychological meanings.
      security:
      - apiKey: []
      parameters:
      - schema:
          type: integer
          minimum: 1
          maximum: 10
          default: 1
          example: 1
          description: 'Number of random symbols to return (1-10). Default: 1.'
        required: false
        description: 'Number of random symbols to return (1-10). Default: 1.'
        name: count
        in: query
      responses:
        '200':
          description: Random dream symbol(s) with full interpretations.
          content:
            application/json:
              schema:
                type: object
                properties:
                  symbols:
                    type: array
                    items:
                      $ref: '#/components/schemas/DreamSymbol'
                required:
                - symbols
        '400':
          description: Validation error. `issues[]` lists every failed field.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: First issue summary.
                  code:
                    type: string
                    enum:
                    - validation_error
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                  issues:
                    type: array
                    description: Every validation failure. Use this to rebuild a valid request.
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                          description: Dot-separated field path, or "(root)" for top-level.
                        message:
                          type: string
                        code:
                          type: string
                          description: Zod issue code (invalid_type, too_small, too_big, invalid_string, ...).
                        expected:
                          type: string
                          description: Expected type for invalid_type.
                        minimum:
                          description: Minimum bound for too_small issues.
                          oneOf:
                          - type: number
                          - type: string
                        maximum:
                          description: Maximum bound for too_big issues.
                          oneOf:
                          - type: number
                          - type: string
                        inclusive:
                          type: boolean
                        format:
                          type: string
                          description: Format name for string issues (regex, email, url, uuid).
                        pattern:
                          type: string
                          description: Regex pattern when format is regex.
                      required:
                      - path
                      - message
                required:
                - error
                - code
                - doc_url
                - issues
        '401':
          description: Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message. May change wording.
                  code:
                    type: string
                    description: Machine-readable error code. Stable identifier.
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                required:
                - error
                - code
                - doc_url
        '405':
          description: Method not allowed. The path exists but only responds to the methods listed in `allow[]` and the `Allow` response header.
          headers:
            Allow:
              description: Comma-separated list of allowed methods (RFC 9110).
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: string
                    enum:
                    - method_not_allowed
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                  allow:
                    type: array
                    items:
                      type: string
                    description: Allowed HTTP methods for this path. Mirrors the Allow response header.
                  docs:
                    type: string
                    description: Link to the product page for this domain.
                required:
                - error
                - code
                - doc_url
                - allow
        '429':
          description: Monthly rate limit exceeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message. May change wording.
                  code:
                    type: string
                    description: Machine-readable error code. Stable identifier.
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                required:
                - error
                - code
                - doc_url
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message. May change wording.
                  code:
                    type: string
                    description: Machine-readable error code. Stable identifier.
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                required:
                - error
                - code
                - doc_url
  /dreams/symbols/letters:
    get:
      operationId: getSymbolLetterCounts
      tags:
      - Dreams
      summary: Symbol counts by letter - Dream dictionary index API
      description: Get the count of dream symbols available for each letter A-Z. Build alphabetical dream dictionary navigation to help users browse dream interpretations by letter, from abandonment dreams to zodiac dreams. See how many dream meanings exist for each starting letter.
      security:
      - apiKey: []
      responses:
        '200':
          description: Symbol counts organized by starting letter.
          content:
            application/json:
              schema:
                type: object
                properties:
                  letters:
                    type: object
                    additionalProperties:
                      type: number
                      example: 138
                      description: Number of dream symbols whose name starts with this letter. A letter with no symbols is absent from the map.
                    example:
                      a: 138
                      b: 282
                      c: 324
                      d: 173
                    description: Map of starting letter to symbol count. Use to build A-Z dream dictionary navigation showing how many dream meanings exist per letter.
                  total:
                    type: number
                    example: 2526
                    description: Total number of dream symbols in the complete dream interpretation database.
                required:
                - letters
                - total
        '400':
          description: Validation error. `issues[]` lists every failed field.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: First issue summary.
                  code:
                    type: string
                    enum:
                    - validation_error
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                  issues:
                    type: array
                    description: Every validation failure. Use this to rebuild a valid request.
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                          description: Dot-separated field path, or "(root)" for top-level.
                        message:
                          type: string
                        code:
                          type: string
                          description: Zod issue code (invalid_type, too_small, too_big, invalid_string, ...).
                        expected:
                          type: string
                          description: Expected type for invalid_type.
                        minimum:
                          description: Minimum bound for too_small issues.
                          oneOf:
                          - type: number
                          - type: string
                        maximum:
                          description: Maximum bound for too_big issues.
                          oneOf:
                          - type: number
                          - type: string
                        inclusive:
                          type: boolean
                        format:
                          type: string
                          description: Format name for string issues (regex, email, url, uuid).
                        pattern:
                          type: string
                          description: Regex pattern when format is regex.
                      required:
                      - path
                      - message
                required:
                - error
                - code
                - doc_url
                - issues
        '401':
          description: Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message. May change wording.
                  code:
                    type: string
                    description: Machine-readable error code. Stable identifier.
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                required:
                - error
                - code
                - doc_url
        '405':
          description: Method not allowed. The path exists but only responds to the methods listed in `allow[]` and the `Allow` response header.
          headers:
            Allow:
              description: Comma-separated list of allowed methods (RFC 9110).
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: string
                    enum:
                    - method_not_allowed
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                  allow:
                    type: array
                    items:
                      type: string
                    description: Allowed HTTP methods for this path. Mirrors the Allow response header.
                  docs:
                    type: string
                    description: Link to the product page for this domain.
                required:
                - error
                - code
                - doc_url
                - allow
        '429':
          description: Monthly rate limit exceeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message. May change wording.
                  code:
                    type: string
                    description: Machine-readable error code. Stable identifier.
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                required:
                - error
                - code
                - doc_url
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message. May change wording.
                  code:
                    type: string
                    description: Machine-readable error code. Stable identifier.
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                required:
                - error
                - code
                - doc_url
  /dreams/symbols/{id}:
    get:
      operationId: getDreamSymbol
      tags:
      - Dreams
      summary: Get dream symbol by id - Dream interpretation API
      description: 'Get the complete dream interpretation for a specific symbol. Understand what your dream means with detailed psychological analysis covering subconscious symbolism, emotional significance, and connections to your waking life. Covers all major dream themes: snake dreams (hidden fears, transformation), falling dreams (loss of control, anxiety), water dreams (emotions, cleansing), death dreams (endings, transformation), teeth falling out (self-image, communication anxiety), being chased (avoidance, confronting fears), flying dreams (freedom, ambition), and thousands more dream meanings.'
      security:
      - apiKey: []
      parameters:
      - schema:
          type: string
          example: snake
          description: Unique symbol identifier in kebab-case (e.g., "snake", "chase-dreams", "losing-teeth").
        required: true
        description: Unique symbol identifier in kebab-case (e.g., "snake", "chase-dreams", "losing-teeth").
        name: id
        in: path
      responses:
        '200':
          description: Full dream symbol with interpretation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DreamSymbol'
        '400':
          description: Validation error. `issues[]` lists every failed field.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: First issue summary.
                  code:
                    type: string
                    enum:
                    - validation_error
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                  issues:
                    type: array
                    description: Every validation failure. Use this to rebuild a valid request.
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                          description: Dot-separated field path, or "(root)" for top-level.
                        message:
                          type: string
                        code:
                          type: string
                          description: Zod issue code (invalid_type, too_small, too_big, invalid_string, ...).
                        expected:
                          type: string
                          description: Expected type for invalid_type.
                        minimum:
                          description: Minimum bound for too_small issues.
                          oneOf:
                          - type: number
                          - type: string
                        maximum:
                          description: Maximum bound for too_big issues.
                          oneOf:
                          - type: number
                          - type: string
                        inclusive:
                          type: boolean
                        format:
                          type: string
                          description: Format name for string issues (regex, email, url, uuid).
                        pattern:
                          type: string
                          description: Regex pattern when format is regex.
                      required:
                      - path
                      - message
                required:
                - error
                - code
                - doc_url
                - issues
        '401':
          description: Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message. May change wording.
                  code:
                    type: string
                    description: Machine-readable error code. Stable identifier.
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                required:
                - error
                - code
                - doc_url
        '404':
          description: Symbol not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Resource not found
                    description: Human-readable error message. The wording may change, so do not parse it programmatically. Switch on the stable code instead.
                  code:
                    type: string
                    example: not_found
                    description: Machine-readable error code. Stable identifier for programmatic error handling.
                  doc_url:
                    type: string
                    example: https://roxyapi.com/docs/errors#not_found
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself. The same URL in every environment, so it is safe to log, print in a CLI, or paste into a bug report.
                required:
                - error
                - code
                - doc_url
        '405':
          description: Method not allowed. The path exists but only responds to the methods listed in `allow[]` and the `Allow` response header.
          headers:
            Allow:
              description: Comma-separated list of allowed methods (RFC 9110).
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: string
                    enum:
                    - method_not_allowed
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                  allow:
                    type: array
                    items:
                      type: string
                    description: Allowed HTTP methods for this path. Mirrors the Allow response header.
                  docs:
                    type: string
                    description: Link to the product page for this domain.
                required:
                - error
                - code
                - doc_url
                - allow
        '429':
          description: Monthly rate limit exceeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message. May change wording.
                  code:
                    type: string
                    description: Machine-readable error code. Stable identifier.
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                required:
                - error
                - code
                - doc_url
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message. May change wording.
                  code:
                    type: string
                    description: Machine-readable error code. Stable identifier.
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                required:
                - error
                - code
                - doc_url
  /dreams/daily:
    post:
      operationId: getDailyDreamSymbol
      tags:
      - Dreams
      summary: Daily dream symbol - Dream symbol of the day API
      description: Receive a single dream symbol for daily reflection and subconscious exploration. Uses seeded randomness so the same seed gets the same symbol on the same day, perfect for "Dream Symbol of the Day" features. Provide a seed (userId, email hash, session token) for reproducible consistency, or omit for date-based daily symbols. Returns the symbol with full psychological interpretation. Great for dream journal apps, wellness platforms, morning ritual apps, and meditation tools.
      security:
      - apiKey: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                seed:
                  type: string
                  example: user123
                  description: Optional seed for reproducible readings. Same seed + same date = same symbol every time. Pass any unique identifier (userId, email hash, session token). Omit for anonymous daily readings.
                date:
                  type: string
                  format: date
                  example: '2026-03-06'
                  description: Date for the reading in YYYY-MM-DD format. Defaults to today (UTC). Useful for viewing past daily readings or pre-generating future ones.
      responses:
        '200':
          description: Daily dream symbol with interpretation
          content:
            application/json:
              schema:
                type: object
                properties:
                  date:
                    type: string
                    example: '2026-01-28'
                    description: Date of the daily dream symbol in YYYY-MM-DD format (UTC). Determines which symbol is selected for seeded readings.
                  seed:
                    type: string
                    example: user123-2026-01-28
                    description: Seed used for this daily reading. Same seed on the same date always produces the identical symbol.
                  symbol:
                    type: object
                    properties:
                      id:
                        type: string
                        example: flying
                        description: Unique symbol identifier in kebab-case. Use this to fetch full details via /symbols/{id}.
                      name:
                        type: string
                        example: Flying
                        description: Display name of the dream symbol.
                      letter:
                        type: string
                        example: f
                        description: Starting letter (a-z) for alphabetical navigation.
                      meaning:
                        type: string
                        example: Flying dreams can be the most exhilarating, liberating and instantly gratifying dreams you can ever have. These dreams are classified as lucid, suggesting that the dreamer is aware that they are dreaming.
                        description: Full psychological dream interpretation explaining the subconscious symbolism, emotional significance, and waking-life connections.
                    required:
                    - id
                    - name
                    - letter
                    - meaning
                  dailyMessage:
                    type: string
                    example: 'Your dream symbol for 2026-01-28: Flying. Flying dreams can be the most exhilarating, liberating and instantly gratifying dreams you can ever have...'
                    description: Concise daily message summarizing the dream symbol and its key themes for quick reflection.
                required:
                - date
                - seed
                - symbol
                - dailyMessage
        '400':
          description: Validation error. `issues[]` lists every failed field.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: First issue summary.
                  code:
                    type: string
                    enum:
                    - validation_error
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                  issues:
                    type: array
                    description: Every validation failure. Use this to rebuild a valid request.
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                          description: Dot-separated field path, or "(root)" for top-level.
                        message:
                          type: string
                        code:
                          type: string
                          description: Zod issue code (invalid_type, too_small, too_big, invalid_string, ...).
                        expected:
                          type: string
                          description: Expected type for invalid_type.
                        minimum:
                          description: Minimum bound for too_small issues.
                          oneOf:
                          - type: number
                          - type: string
                        maximum:
                          description: Maximum bound for too_big issues.
                          oneOf:
                          - type: number
                          - type: string
                        inclusive:
                          type: boolean
                        format:
                          type: string
                          description: Format name for string issues (regex, email, url, uuid).
                        pattern:
                          type: string
                          description: Regex pattern when format is regex.
                      required:
                      - path
                      - message
                required:
                - error
                - code
                - doc_url
                - issues
        '401':
          description: Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message. May change wording.
                  code:
                    type: string
                    description: Machine-readable error code. Stable identifier.
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                required:
                - error
                - code
                - doc_url
        '405':
          description: Method not allowed. The path exists but only responds to the methods listed in `allow[]` and the `Allow` response header.
          headers:
            Allow:
              description: Comma-separated list of allowed methods (RFC 9110).
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                  code:
                    type: string
                    enum:
                    - method_not_allowed
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                  allow:
                    type: array
                    items:
                      type: string
                    description: Allowed HTTP methods for this path. Mirrors the Allow response header.
                  docs:
                    type: string
                    description: Link to the product page for this domain.
                required:
                - error
                - code
                - doc_url
                - allow
        '429':
          description: Monthly rate limit exceeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message. May change wording.
                  code:
                    type: string
                    description: Machine-readable error code. Stable identifier.
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                required:
                - error
                - code
                - doc_url
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: Human-readable error message. May change wording.
                  code:
                    type: string
                    description: Machine-readable error code. Stable identifier.
                  doc_url:
                    type: string
                    description: Absolute URL of the documented explanation of this code, anchored at the code itself, for example https://roxyapi.com/docs/errors#not_found.
                required:
                - error
                - code
                - doc_url
components:
  schemas:
    BasicDreamSymbol:
      type: object
      properties:
        id:
          type: string
          example: snake
          description: Unique symbol identifier in kebab-case.
        name:
          type: string
          example: Snake
          description: Display name of the dream symbol.
        letter:
          type: string
          example: s
          description: Starting letter for alphabetical filtering.
      required:
      - id
      - name
      - letter
    DreamSymbol:
      type: object
      properties:
        id:
          type: string
          example: snake
          description: Unique symbol identifier in kebab-case. Use this to fetch full interpretation via /symbols/{id}.
        name:
          type: string
          example: Snake
          description: Display name of the dream symbol.
        letter:
          type: string
          example: s
          description: Starting letter (a-z) for alphabetical dream dictionary navigation.
        meaning:
          type: string
          example: To see a snake in your dream signifies hidden fears and worries that are threatening you. Your dream may be alerting you to something in your waking life that you are not aware of or that has not yet surfaced.
          description: Full psychological dream interpretation explaining the subconscious symbolism, emotional significance, and waking-life connections of this dream symbol.
      required:
      - id
      - name
      - letter
      - meaning
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-API-Key
      description: Your API key for accessing RoxyAPI. Alternatively, you can pass the API key as a query parameter "api_key".
externalDocs:
  description: Complete API Documentation with Examples
  url: https://roxyapi.com/docs
